@import './variables'

.inter-normal-pale-sky-16px
  color: $pale-sky
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 400

.inter-normal-pale-sky-14px
  color: $pale-sky
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 400

.inter-medium-oxford-blue-14px
  color: $oxford-blue
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-medium-mirage-14px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-normal-mirage-16px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 400

.inter-medium-pale-sky-12px
  color: $pale-sky
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-style: normal
  font-weight: 500

.inter-medium-royal-blue-14px
  color: $royal-blue
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-medium-mirage-16px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 500

.inter-medium-mirage-12px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-style: normal
  font-weight: 500

.inter-medium-pale-sky-14px
  color: $pale-sky
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-medium-mirage-20px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-xl
  font-style: normal
  font-weight: 500

.inter-medium-white-14px
  color: $white
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-normal-mirage-14px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 400

.redhatdisplay-extra-bold-mirage-22px
  color: $mirage-2
  font-family: $font-family-red_hat_display
  font-size: 22px
  font-style: normal
  font-weight: 800

.inter-medium-mirage-18px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-l
  font-style: normal
  font-weight: 500

.inter-semi-bold-oxford-blue-16px
  color: $oxford-blue
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 600

.inter-normal-pale-sky-12px
  color: $pale-sky
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-style: normal
  font-weight: 400

.inter-semi-bold-mirage-16px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 600

.inter-medium-oxford-blue-16px
  color: $oxford-blue
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 500

.inter-medium-mirage-24px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-xxl
  font-style: normal
  font-weight: 500

.inter-medium-fiord-16px
  color: $fiord
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 500

.inter-semi-bold-mirage-30px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-xxxl
  font-style: normal
  font-weight: 600

.inter-medium-white-16px
  color: $white
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 500

.inter-normal-oxford-blue-14px
  color: $oxford-blue
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 400

.inter-medium-purple-heart-12px
  color: $purple-heart
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-style: normal
  font-weight: 500

.inter-normal-thunderbird-14px
  color: $thunderbird
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 400

.inter-medium-purple-heart-14px
  color: $purple-heart
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-medium-royal-blue-16px
  color: $royal-blue
  font-family: $font-family-inter
  font-size: $font-size-m
  font-style: normal
  font-weight: 500

.inter-medium-mirage-30px
  color: $mirage
  font-family: $font-family-inter
  font-size: $font-size-xxxl
  font-style: normal
  font-weight: 500

.inter-bold-santas-gray-64px
  color: $santas-gray-2
  font-family: $font-family-inter
  font-size: 64px
  font-style: normal
  font-weight: 700

.inter-medium-ebony-clay-14px
  color: $ebony-clay
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 500

.inter-normal-cinnabar-14px
  color: $cinnabar
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 400

.inter-normal-salem-14px
  color: $salem
  font-family: $font-family-inter
  font-size: $font-size-s
  font-style: normal
  font-weight: 400

.inter-medium-salem-12px
  color: $salem-2
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-style: normal
  font-weight: 500

.border-1px-mischka
  border: 1px solid $mischka

.border-1px-blue-violet
  border: 1px solid $blue-violet

.border-1px-santas-gray
  border: 1px solid $santas-gray

.border-1px-perfume
  border: 1px solid $perfume

.border-1px-gallery
  border: 1px solid $gallery

.border-1px-mona-lisa
  border: 1px solid $mona-lisa

.border-1px-concrete
  border: 1px solid $concrete