@import '../../variables'

.card-header-1,
.card-header-2
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 80px
  width: 1216px

.content-39,
.content-40
  align-items: center
  display: flex
  height: 79px
  min-width: 1216px
  padding: 19px 24px

.text-and-badge-1,
.text-and-badge-2
  align-items: center
  display: flex
  height: 28px
  margin-top: 1.0px
  min-width: 840px
  position: relative

.text-138,
.text-139
  letter-spacing: 0
  line-height: 28px
  min-height: 28px
  min-width: 99px
  white-space: nowrap

.actions-3,
.actions-4
  align-items: flex-start
  align-self: flex-end
  display: flex
  height: 40px
  margin-left: 16px
  min-width: 312px
  position: relative

.divider-44,
.divider-45
  background-color: $gallery
  height: 1px
  width: 1216px

