@import '../../variables'

.input-field-base-8
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  width: 176px

.label-17
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.input-11
  align-items: flex-start
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  margin-top: 6px
  min-width: 176px

.add-on
  height: 44px
  width: 37px

.text-input
  height: 44px
  width: 139px

.input-field-base-8.input-field-base-9,
.input-field-base-8.input-field-base-11
  width: 346px

.input-field-base-8.input-field-base-9 .input-11,
.input-field-base-8.input-field-base-11 .input-11
  min-width: 346px

.input-field-base-8.input-field-base-9 .text-input,
.input-field-base-8.input-field-base-11 .text-input
  width: 309px

.input-field-base-8.input-field-base-10,
.input-field-base-8.input-field-base-12
  width: 161px

.input-field-base-8.input-field-base-10 .input-11,
.input-field-base-8.input-field-base-12 .input-11
  align-items: flex-end
  height: 44px
  min-width: 161px
  padding: 21.2px 18.2px

.input-field-base-8.input-field-base-10 .add-on,
.input-field-base-8.input-field-base-12 .add-on
  height: 1px
  width: 1px

.input-field-base-8.input-field-base-10 .text-input,
.input-field-base-8.input-field-base-12 .text-input
  height: 1px
  margin-left: 80px
  width: 1px

