@import '../../variables'

.dropdown-menu
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  height: 105px
  position: relative
  width: 240px

.dropdown-list-header
  align-items: center
  display: flex
  height: 64px
  min-width: 240px
  padding: 0 16px
  position: relative

.text-and-supporting-text
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-left: 12px
  min-height: 40px
  width: 141px

.text
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.divider
  background-color: $concrete
  height: 1px
  width: 240px

