.input-field-base-16,
.input-field-base-17
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 96px
  position: relative
  width: 360px

.hint-text,
.hint-text-1
  letter-spacing: 0
  line-height: 20px
  margin-top: 6px
  min-height: 20px
  white-space: nowrap

