@import '../../variables'

.badge-base-7
  align-items: center
  background-color: $narvik
  border-radius: 16px
  display: flex
  height: 22px
  min-width: 47px
  padding: 0 8px

.text-146
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  min-width: 31px
  text-align: center
  white-space: nowrap

