@import '../../variables'

.dashboard-1
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  height: 1026px
  position: relative
  width: 1728px

.main-5
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 953px
  padding: 48px 0
  position: relative
  width: 1728px

.table-2
  align-items: flex-start
  align-self: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 637px
  margin-top: 24px
  overflow: hidden
  position: relative
  width: 1216px

.filters-bar-2
  background-color: $white
  height: 1px
  width: 1216px

.content-41
  align-items: flex-start
  background-color: $white
  display: flex
  height: 556px
  min-width: 1216px

.column-15
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 263px

.divider-46
  background-color: $gallery
  height: 1px
  width: 263px

.column-16
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 117px

.divider-47
  background-color: $gallery
  height: 1px
  width: 117px

.column-17
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 123px

.divider-48
  background-color: $gallery
  height: 1px
  width: 123px

.column-18
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 161px

.divider-49
  background-color: $gallery
  height: 1px
  width: 161px

.column-19
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 177px

.divider-50
  background-color: $gallery
  height: 1px
  width: 177px

.column-20
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 149px

.divider-51
  background-color: $gallery
  height: 1px
  width: 149px

.column-21
  align-items: center
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 118px

.divider-52
  background-color: $gallery
  height: 1px
  width: 118px

.table-cell-22
  align-items: center
  display: flex
  height: 72px
  min-width: 118px
  padding: 0 7.5px

.text-142
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  min-width: 77px
  white-space: nowrap

.chevron-down-3
  height: 16px
  margin-left: 10px
  width: 16px

.column-22
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 556px
  position: relative
  width: 108px

.divider-53
  background-color: $gallery
  height: 1px
  width: 108px

