@import '../../variables'

.card-header
  background-color: $white
  display: flex
  flex-direction: column
  height: 80px
  width: 1216px

.content-105
  display: flex
  height: 79px
  width: 1216px

.text-and-badge
  display: flex
  margin-left: 24px
  margin-top: 26px
  position: relative
  width: 951px

.text-140
  height: 28px
  letter-spacing: 0
  line-height: 28px
  white-space: nowrap
  width: 99px

.actions-13
  display: flex
  height: 40px
  margin-left: 16px
  margin-top: 20px
  position: relative
  width: 201px

.divider-31
  background-color: $gallery
  height: 1px

