.company-logo-9,
.company-logo-10
  align-items: flex-start
  display: flex
  height: 33.13px
  min-width: 147px
  position: relative

.charming-and-comfort-18,
.charming-and-comfort-19
  height: 33px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 8px
  white-space: nowrap

