.button-16
  display: flex
  height: 20px
  position: relative
  width: 61px

.button-16.button-17,
.button-16.button-18,
.button-16.button-19,
.button-16.button-20
  margin-left: 121px
  margin-top: 32px
  width: 118px

