@import '../../variables'

.sign-up
  align-items: center
  background-color: $romance
  display: flex
  flex-direction: column
  min-height: 960px
  padding: 96px 0
  width: 1728px

.header
  align-items: center
  display: flex
  flex-direction: column
  min-height: 166px
  position: relative
  width: 440px

.text-and-supporting-text-2
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 24px
  min-height: 98px
  width: 440px

.text-90
  letter-spacing: 0
  line-height: 38px
  min-height: 38px
  text-align: center
  white-space: nowrap
  width: 440px

.supporting-text-5
  letter-spacing: 0
  line-height: 24px
  margin-top: 12px
  min-height: 48px
  text-align: center
  width: 321px

.content-25
  align-items: center
  background-color: $white
  border-radius: 12px
  box-shadow: 0px 2px 4px #1018280f , 0px 4px 8px #1018281a
  display: flex
  flex-direction: column
  margin-top: 32px
  min-height: 468px
  padding: 32px 0
  width: 440px

.form
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 276px
  position: relative
  width: 360px

.actions-1
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 24px
  min-height: 104px
  position: relative
  width: 360px

.row-7
  align-items: flex-start
  display: flex
  height: 20px
  margin-top: 32px
  min-width: 440px
  padding: 0 112px
  position: relative

.text-92
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  min-width: 171px
  white-space: nowrap

