@import '../../variables'

.button-base-29,
.button-base-30,
.button-base-31
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  flex: 1
  overflow: hidden
  width: 69px

.text-117,
.text-118,
.text-119
  height: 20px
  letter-spacing: 0
  line-height: 20px
  margin-left: 16px
  margin-top: 10px
  white-space: nowrap
  width: 37px

