@import '../../variables'

.input-field-base-20
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  width: 434px

.label-53
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.input-37
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  overflow: hidden
  padding: 0 14px
  position: relative
  width: 434px

.text-101
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  white-space: nowrap
  width: 382px

