.textarea-input-field-base-2
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 162px
  position: relative
  width: 904px

.label-29
  height: 14px
  margin-left: 1px
  margin-top: 2px
  width: 472px

.textarea-input-field-base-2.textarea-input-field-base-3 .label-29,
.textarea-input-field-base-2.textarea-input-field-base-1-2 .label-29
  width: 557px

.textarea-input-field-base-2.textarea-input-field-base .label-29,
.textarea-input-field-base-2.textarea-input-field-base-1 .label-29
  width: 301px

