.frame-14069-4,
.frame-14069-5 {
  display: flex;
  flex-direction: column;
  height: 190px;
  position: relative;
  width: 344px;
}

.share-project-9,
.share-project-10 {
  align-items: center;
  background-color: var(--white-lilac);
  border-radius: 8px;
  display: flex;
  height: 90px;
  margin-top: 10px;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  width: 344px;
}

