.input-with-label-38-1
  display: flex
  flex-direction: column
  height: 162px
  position: relative
  width: 904px

.label-37
  height: 20px
  letter-spacing: 0
  line-height: 20px
  white-space: nowrap
  width: 368px

.input-with-label-38-1.input-with-label-38 .label-37,
.input-with-label-38-1.input-with-label-39-1 .label-37,
.input-with-label-38-1.input-with-label-40 .label-37,
.input-with-label-38-1.input-with-label-39 .label-37,
.input-with-label-38-1.input-with-label-41 .label-37
  width: 201px

.input-with-label-38-1.input-with-label-41
  display: flex
  flex-direction: column
  height: 154px
  position: relative
  width: 904px

