@import '../../variables'

.button-base-36
  align-items: center
  background-color: $royal-blue
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  overflow: hidden
  padding: 0 154px
  width: 360px

.text-113
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  min-width: 52px
  white-space: nowrap

.button-base-36.button-base-37
  padding: 0 120px

.button-base-36.button-base-37 .text-113
  min-width: 120px

.button-base-36.button-base-38,
.button-base-36.button-base-40
  padding: 0 118.5px

.button-base-36.button-base-38 .text-113,
.button-base-36.button-base-40 .text-113
  min-width: 123px

.button-base-36.button-base-39
  padding: 0 145px

.button-base-36.button-base-39 .text-113
  min-width: 70px

