.dropdown-list-item
  align-items: center
  display: flex
  height: 40px
  min-width: 240px
  padding: 0 16px

.log-out
  height: 16px
  width: 16px

.text-8
  letter-spacing: 0
  line-height: 20px
  margin-left: 12px
  min-height: 20px
  min-width: 51px
  white-space: nowrap

