.input-dropdown-11
  align-items: flex-start
  display: flex
  height: 70px
  margin-left: 24px
  min-width: 234px
  position: relative

.input-dropdown-11.input-dropdown-12,
.input-dropdown-11.input-dropdown-14
  margin-left: unset
  margin-top: 24px
  min-width: 346px

.input-dropdown-11.input-dropdown-13,
.input-dropdown-11.input-dropdown-15
  margin-left: 39px

