.section-3
  display: flex
  height: 272px
  margin-top: 24px
  position: relative
  width: 904px

.section-3.section-4,
.section-3.section-8,
.section-3.section-12,
.section-3.section-15
  height: 280px

.section-3.section-5,
.section-3.section-9,
.section-3.section-13,
.section-3.section-16
  height: 148px

.section-3.section-6,
.section-3.section-10
  height: 584px
  margin-top: unset

.section-3.section-7
  margin-top: 51.5px

