.text-41
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  min-width: 131px
  white-space: nowrap

.text-41.text-37
  min-width: unset
  width: 406px

.text-41.text-45
  min-width: unset
  width: 382px

.text-41.text-47
  left: 0
  min-height: unset
  min-width: unset
  position: absolute
  top: 2px
  white-space: unset
  width: 872px

.text-41.text-48
  min-height: 116px
  min-width: unset
  white-space: unset
  width: 876px

.text-41.text-38
  min-width: 72px

.text-41.text-50
  min-width: 169px

.text-41.text-51
  min-width: 125px

.text-41.text-53
  min-width: 79px

.text-41.text-54
  min-width: 98px

.text-41.text-55
  min-width: 227px

.text-41.text-56
  min-width: 143px

.text-41.text-57
  min-width: 92px

.text-41.text-40
  min-width: 95px

.text-41.text-58
  min-width: 108px

