@import '../../variables'

.scroll-floating-title-sticky-module-son-the-side
  align-items: flex-start
  background-color: $white
  display: flex
  height: 943px
  overflow: hidden
  width: 1728px

.overlap-group2
  height: 2615px
  margin-left: -123px
  margin-top: -229px
  position: relative
  width: 1851px

.overlap-group1
  height: 2615px
  left: 123px
  position: absolute
  top: 0
  width: 1728px

.header-navigation-5
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  height: 74px
  left: 0
  position: absolute
  top: 135px
  width: 1728px

.container-7
  align-items: center
  display: flex
  height: 72px
  min-width: 1361px
  padding: 0 32px
  position: relative

.content-26
  align-items: flex-start
  display: flex
  min-width: 147px

.frame-3-6
  align-items: flex-end
  align-self: flex-end
  background-color: $royal-blue
  border-radius: 16px
  display: flex
  flex-direction: column
  height: 32px
  margin-bottom: 0.13px
  margin-left: -1px
  overflow: hidden
  padding: 7.2px 15.2px
  width: 32px

.x5d7f96dfdf28141cd047f1675418350c-1-10
  height: 1px
  margin-right: 0
  margin-top: 6px
  width: 1px

.vector-7-4
  height: 1px
  margin-top: 9px
  width: 1px

.charming-and-comfort-12
  height: 33px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 8px
  margin-top: -0.44px
  white-space: nowrap
  width: 55px

.charming-and-comfort-13
  align-self: center
  height: 17px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 5px
  margin-top: 5.0px
  white-space: nowrap
  width: 32px

.divider-19
  height: 1px
  width: 1px

.container-8
  height: 1px
  left: 224px
  position: absolute
  top: 303px
  width: 1280px

.frame-14069-6
  align-items: flex-start
  display: flex
  flex-direction: column
  left: 216px
  min-height: 2615px
  position: absolute
  top: 0
  width: 906px

.frame-14015-3
  align-items: center
  display: flex
  flex-direction: column
  min-height: 661px
  position: relative
  width: 904px

.section-21
  height: 1px
  margin-top: 52px
  width: 1px

.paragraph-29
  letter-spacing: 0
  line-height: 24px
  margin-top: 52px
  min-height: 272px
  width: 904px

.footer-5
  align-items: flex-end
  display: flex
  flex-direction: column
  margin-top: 40px
  min-height: 61px
  position: relative
  width: 905px

.divider-20
  background-color: $gallery
  height: 1px
  width: 905px

.group-75-1
  height: 367px
  left: 0
  position: absolute
  top: 440px
  width: 135px

.graphics-1
  height: 222px
  margin-left: 24px
  margin-top: 296.77px
  width: 58px

