@import '../../variables'

.frame-14069-1
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 30px
  min-height: 190px
  position: relative
  width: 360px

.share-project-2
  align-items: center
  background-color: $white-lilac
  border-radius: 8px
  display: flex
  height: 90px
  margin-top: 10px
  overflow: hidden
  padding: 0 15px
  position: relative
  width: 360px

.overlap-group-2
  align-items: flex-start
  border-radius: 10px
  display: flex
  height: 42px
  min-width: 42px
  padding: 11px

.globe
  height: 18px
  width: 18px

.frame-14069-1.frame-14069-3
  left: 1283px
  margin-top: unset
  position: absolute
  top: 476px

