.input-field-base-7 {
  display: flex;
  width: 434px;
}

.input-with-label {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 434px;
}

.label-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 77px;
}

.input {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  height: 44px;
  margin-top: 6px;
  overflow: hidden;
  width: 434px;
}

.content-22 {
  display: flex;
  height: 24px;
  margin-left: 14px;
  margin-top: 10px;
  position: relative;
  width: 406px;
}

.input-field-base-7.input-field-base .label-1,
.input-field-base-7.input-field-base-5 .label-1,
.input-field-base-7.input-field-base-1 .label-1,
.input-field-base-7.input-field-base-6 .label-1,
.input-field-base-7.input-field-base-3 .label-1,
.input-field-base-7.input-field-base-4 .label-1 {
  width: 47px;
}

.input-field-base-7.input-field-base-5,
.input-field-base-7.input-field-base-5-1,
.input-field-base-7.input-field-base-5-1 .input-with-label,
.input-field-base-7.input-field-base-5-1 .input,
.input-field-base-7.input-field-base-6,
.input-field-base-7.input-field-base-6-1,
.input-field-base-7.input-field-base-6-1 .input-with-label,
.input-field-base-7.input-field-base-6-1 .input,
.input-field-base-7.input-field-base-5 .input-with-label,
.input-field-base-7.input-field-base-5 .input,
.input-field-base-7.input-field-base-6 .input-with-label,
.input-field-base-7.input-field-base-6 .input {
  width: 346px;
}

.input-field-base-7.input-field-base-5-1 .content-22,
.input-field-base-7.input-field-base-6-1 .content-22,
.input-field-base-7.input-field-base-5 .content-22,
.input-field-base-7.input-field-base-6 .content-22 {
  width: 318px;
}

.input-field-base-7.input-field-base-2 .input {
  background-color: var(--white-lilac);
}

