.type-form {
  background-color: var(--romance);
  display: flex;
  height: 100vh;
  min-height: 960px;
  min-width: 1728px;
  width: 100%;
}

.type-form-1 {
  height: 678px;
  letter-spacing: 0;
  line-height: 100px;
  margin-left: 397px;
  margin-top: 96px;
  opacity: 0.5;
  text-align: center;
  width: 934px;
}

