.content-12,
.content-13,
.content-14,
.content-15,
.content-16
  display: flex
  margin-left: 12px
  margin-top: 8px
  width: 76px

.text-11,
.text-12,
.text-13,
.text-14,
.text-15
  height: 24px
  letter-spacing: 0
  line-height: 24px
  white-space: nowrap
  width: 76px

