@import '../../variables'

.application-nav-menu-button
  background-color: $white
  border-radius: 8px
  display: flex
  height: 40px
  margin-left: 164px
  overflow: hidden
  position: relative
  width: 40px

.application-nav-menu-button.application-nav-menu-button-1
  margin-left: 8px

.application-nav-menu-button.application-nav-menu-button-2
  background-color: unset
  margin-left: unset

