.textarea-input-field-4
  align-items: flex-start
  display: flex
  height: 162px
  margin-top: 30px
  min-width: 904px
  position: relative

.textarea-input-field-4.textarea-input-field-5,
.textarea-input-field-4.textarea-input-field-9
  margin-left: 2px

.textarea-input-field-4.textarea-input-field-6
  margin-top: unset

.textarea-input-field-4.textarea-input-field-7
  margin-top: 38px

