.content-3,
.content-4,
.content-5,
.content-6,
.content-7
  align-items: flex-start
  display: flex
  min-width: 147px
  position: relative

.charming-and-comfort,
.charming-and-comfort-2,
.charming-and-comfort-4,
.charming-and-comfort-6,
.charming-and-comfort-8
  height: 33px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 8px
  margin-top: -0.44px
  white-space: nowrap
  width: 55px

.charming-and-comfort-1,
.charming-and-comfort-3,
.charming-and-comfort-5,
.charming-and-comfort-7,
.charming-and-comfort-9
  align-self: center
  height: 17px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 5px
  margin-top: 5.0px
  white-space: nowrap
  width: 32px

