.input-dropdown-menu {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 6px #10182808 , 0px 12px 16px #10182814;
  display: flex;
  flex: 1;
  margin-top: 8px;
  max-height: 320px;
  overflow: hidden;
}

.menu-items {
  display: flex;
  flex-direction: column;
  height: 184px;
  position: relative;
  width: 434px;
}

