.content-59 {
  display: flex;
  height: 33px;
  position: relative;
  width: 147px;
}

.content-59.content-60 {
  height: 33.13px;
  margin-left: 32px;
  margin-top: 19.4px;
}

.content-59.content-61 {
  height: 33.13px;
  margin-left: 16px;
}

