@import '../../variables'

.badge-base-4
  align-items: center
  background-color: #fef2f1
  border-radius: 16px
  display: flex
  height: 22px
  min-width: 79px
  padding: 0 8px

.text-145
  color: #b32218
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-weight: 500
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  min-width: 63px
  text-align: center
  white-space: nowrap

.badge-base-4.badge-base-5
  background-color: #f0f9ff
  min-width: 100px

.badge-base-4.badge-base-5 .text-145
  color: #016aa2
  min-width: 84px

.badge-base-4.badge-base-6
  background-color: #fff9eb
  min-width: 106px

.badge-base-4.badge-base-6 .text-145
  color: #b54707
  min-width: 90px

