.content-8 {
  display: flex;
  height: 33.13px;
  margin-top: 3.4px;
  position: relative;
  width: 147px;
}

.content-8.content-9,
.content-8.content-10,
.content-8.content-11 {
  margin-top: unset;
}

