.public-web-page-candidate-view-1 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 4759px;
  min-width: 375px;
  width: 100%;
}

.header-navigation-6 {
  background-color: var(--white);
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a;
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 375px;
}

.content-83 {
  align-items: center;
  display: flex;
  height: 63px;
  justify-content: flex-end;
  min-width: 375px;
  padding: 0 8px;
  position: relative;
}

.content-84 {
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: relative;
  width: 303px;
}

.content-85 {
  display: flex;
  height: 33.13px;
  margin-top: 3.4px;
  position: relative;
  width: 218px;
}

.divider-23 {
  height: 1px;
  width: 375px;
}

.main-2 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3842px;
  position: relative;
  width: 375px;
}

.page-header-2 {
  align-self: center;
  display: flex;
  width: 375px;
}

.container-14 {
  display: flex;
  flex-direction: column;
  height: 140px;
  position: relative;
  width: 375px;
}

.content-86 {
  display: flex;
  height: 64px;
  margin-left: 16px;
  margin-top: 20px;
  position: relative;
  width: 343px;
}

.section-41 {
  display: flex;
  flex-direction: column;
  height: 1032px;
  margin-top: 32px;
}

.container-15 {
  display: flex;
  height: 220px;
  position: relative;
  width: 375px;
}

.frame-33760-3 {
  display: flex;
  flex-direction: column;
  height: 1646px;
  margin-left: 14px;
  margin-top: 24px;
  position: relative;
  width: 347px;
}

.frame-33762-1 {
  display: flex;
  flex-direction: column;
  height: 1367px;
  margin-top: 30px;
  position: relative;
  width: 346px;
}

