.table-cell-13
  align-items: center
  display: flex
  height: 72px
  min-width: 97px
  padding: 0 24px

.text-132
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  min-width: 45px
  white-space: nowrap

.table-cell-13.table-cell-14
  min-width: 137px

.table-cell-13.table-cell-14 .text-132,
.table-cell-13.table-cell-15 .text-132
  min-width: 75px

.table-cell-13.table-cell-15
  min-width: 123px

.table-cell-13.table-cell-16
  min-width: 161px

.table-cell-13.table-cell-16 .text-132
  min-width: 53px

