.input-dropdown {
  display: flex;
  height: 70px;
  position: relative;
  width: 434px;
}

.input-dropdown.input-dropdown-4,
.input-dropdown.input-dropdown-6 {
  display: flex;
  height: 70px;
  margin-left: 35px;
  position: relative;
  width: 434px;
}

.input-dropdown.input-dropdown-5 {
  display: flex;
  height: 70px;
  margin-left: 116px;
  margin-top: 100px;
  position: relative;
  width: 434px;
}

