.button-base-19-1
  align-items: flex-start
  display: flex
  height: 20px
  min-width: 114px

.text-77
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.button-base-19-1.button-base-20
  align-items: flex-start
  display: flex
  height: 20px
  min-width: 41px

