.section-7
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 30px
  min-height: 217px
  position: relative
  width: 360px

.heading-1
  height: 37px
  letter-spacing: 0
  line-height: 24px
  width: 360px

.row-2
  align-items: flex-start
  display: flex
  height: 37px
  margin-top: 16px
  min-width: 331px
  position: relative

.section-7.section-9
  left: 1283px
  margin-top: unset
  position: absolute
  top: 214px

.section-7.section-10
  margin-top: unset

