@import '../../variables'

.public-web-page-hr-view
  background-color: $white
  display: flex
  flex-direction: column
  height: 100vh
  min-height: 5080px
  min-width: 375px
  width: 100%

.header-navigation-4
  background-color: $white
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 64px
  width: 375px

.content-57
  align-items: center
  display: flex
  height: 63px
  justify-content: flex-end
  min-width: 375px
  padding: 0 8px
  position: relative

.divider-15
  height: 1px
  width: 375px

.main-1
  background-color: $white
  display: flex
  flex-direction: column
  height: 4986px
  position: relative
  width: 375px

.page-header-1
  align-self: center
  display: flex
  width: 375px

.container-8
  display: flex
  flex-direction: column
  height: 180px
  width: 375px

.content-58
  display: flex
  flex-direction: column
  height: 104px
  margin-left: 16px
  margin-top: 20px
  position: relative
  width: 343px

.actions-4
  display: flex
  height: 40px
  margin-left: 16px
  margin-top: 16px
  position: relative
  width: 270px

.section-26
  display: flex
  flex-direction: column
  height: 2129px
  margin-top: 32px

.container-9
  display: flex
  flex-direction: column
  height: 510px
  position: relative
  width: 375px

.share-project-6
  height: 266px
  margin-left: 16px
  width: 343px

.frame-33760-2
  display: flex
  flex-direction: column
  height: 1652px
  margin-left: 14px
  margin-top: 24px
  position: relative
  width: 347px

.frame-33762
  display: flex
  flex-direction: column
  height: 1286px
  margin-top: 30px
  position: relative
  width: 346px

