@import '../../variables'

.dashboard-2-drawer
  align-items: flex-start
  background-color: $white
  display: flex
  height: 943px
  overflow: hidden
  width: 1728px

.overlap-group2-1
  height: 982px
  position: relative
  width: 1728px

.main-6
  background-color: $white
  display: flex
  height: 909px
  left: 0
  position: absolute
  top: 73px
  width: 1728px

.section-48
  display: flex
  margin-top: 48px
  width: 1728px

.container-27
  display: flex
  margin-left: 224px
  width: 1280px

.sections-4
  display: flex
  flex-direction: column
  height: 765px
  margin-left: 32px
  position: relative
  width: 1216px

.section-49
  display: flex
  margin-top: 24px
  width: 1216px

.container-28
  display: flex
  margin-left: -32px
  width: 1280px

.table-3
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 637px
  margin-left: 32px
  overflow: hidden
  position: relative
  width: 1216px

.filters-bar-3
  background-color: $white
  height: 1px

.content-114
  background-color: $white
  display: flex
  position: relative
  width: 1216px

.column-29
  display: flex
  flex-direction: column
  height: 556px
  position: relative
  width: 123px

.divider-50
  background-color: $gallery
  height: 1px

.column-30
  display: flex
  flex-direction: column
  height: 556px
  position: relative
  width: 118px

.overlap-group1-4
  align-items: center
  background-color: $white
  box-shadow: 0px 20px 24px #999ba82e
  display: flex
  flex-direction: column
  left: 1369px
  min-height: 945px
  padding: 1px 0
  position: absolute
  top: -1px
  width: 360px

.overlap-group-20
  height: 121px
  position: relative
  width: 358px

.bg
  height: 90px
  left: 0
  position: absolute
  top: 0
  width: 358px

.dropdown-2
  display: flex
  height: 62px
  left: 148px
  position: absolute
  top: 59px
  width: 62px

.avatar-8
  align-items: center
  background-color: $buttery-white
  border: 1px solid $white
  border-radius: 310px
  display: flex
  height: 64px
  justify-content: center
  margin-left: -1px
  margin-top: -1px
  width: 64px

.text-180
  color: $fiord
  font-family: $font-family-inter
  font-size: 24.8px
  font-weight: 500
  height: 38px
  letter-spacing: 0
  line-height: 37.2px
  margin-left: -2px
  margin-top: -1.2px
  text-align: center
  white-space: nowrap
  width: 62px

.frame-8
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 10px
  min-height: 74px
  position: relative
  width: 136px

.helena-chavez
  color: $oxford-blue
  font-family: $font-family-inter
  font-size: $font-size-l
  font-weight: 600
  letter-spacing: 0
  line-height: 27px
  min-height: 27px
  min-width: 136px
  text-align: center
  white-space: nowrap

.frame-15
  display: flex
  margin-top: 2px
  width: 95px

.globe-6
  height: 12px
  margin-top: 4.5px
  width: 12px

.uiux-designer
  align-self: center
  color: $santas-gray
  font-family: $font-family-inter
  font-size: $font-size-xs
  font-weight: 400
  height: 21px
  letter-spacing: 0
  line-height: 21px
  margin-left: 5px
  text-align: center
  white-space: nowrap
  width: 78px

.frame-16
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 12px
  min-height: 674px
  position: relative
  width: 312px

.email
  align-items: flex-start
  display: flex
  flex-direction: column
  height: 56px
  padding: 2.1px 0
  width: 209px

.email-1,
.meeting,
.phone-1,
.phone-3,
.phone-5,
.phone-9
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  white-space: nowrap

.johannastevensgmai
  letter-spacing: 0
  line-height: 21px
  margin-top: 9px
  min-height: 21px
  white-space: nowrap

.link-1
  align-items: flex-start
  display: flex
  flex-direction: column
  height: 46px
  margin-top: 24px
  padding: 1px 0
  width: 94px

.httpgobetacallc
  letter-spacing: 0
  line-height: 21px
  margin-left: 1px
  margin-top: 5px
  min-height: 21px
  white-space: nowrap

.frame-14
  align-items: center
  border-radius: 4px
  display: flex
  height: 61px
  margin-top: 24px
  min-width: 312px
  padding: 0 19.5px
  position: relative

.line
  height: 44px
  margin-left: 15px
  width: 1px

.frame-1-1
  align-items: center
  border-radius: 4px
  display: flex
  height: 61px
  margin-top: 24px
  min-width: 312px
  padding: 0 10px

.phone
  align-items: flex-start
  display: flex
  flex-direction: column
  height: 51px
  padding: 2px 0
  width: 63px

.x439-582-1578
  letter-spacing: 0
  line-height: 21px
  margin-top: 8px
  min-height: 21px
  white-space: nowrap

.phone-2
  align-items: flex-start
  display: flex
  flex-direction: column
  height: 51px
  margin-left: 16px
  padding: 2px 0
  width: 107px

.phone-4
  align-items: flex-start
  display: flex
  flex-direction: column
  height: 51px
  margin-left: 16px
  padding: 2px 0
  width: 58px

.frame-1
  display: flex
  height: 102px
  justify-content: center
  margin-top: 24px
  width: 312px

.phone-6
  align-items: flex-start
  display: flex
  flex-direction: column
  overflow: hidden
  width: 312px

.phone-7
  letter-spacing: 0
  line-height: 18px
  margin-top: 2px
  min-height: 18px
  white-space: nowrap

.x439-582-1578-1
  cursor: pointer
  letter-spacing: 0
  line-height: 21px
  margin-top: 8px
  min-height: 85px
  width: 312px

.phone-8
  align-items: flex-start
  display: flex
  flex-direction: column
  padding: 2px 0
  width: 312px

.x439-582-1578-2
  letter-spacing: 0
  line-height: 21px
  margin-top: 8px
  min-height: 42px
  width: 312px

