@import '../../variables'

.share-project-7
  align-items: center
  background-color: $white
  border-radius: 8px
  display: flex
  flex-direction: column
  height: 220px
  margin-top: 24px
  overflow: hidden
  padding: 16px 0
  position: relative
  width: 343px

.text-87
  letter-spacing: 0
  line-height: 28px
  min-height: 44px
  width: 311px

.row-2-4
  align-items: flex-start
  display: flex
  height: 34px
  margin-right: 9.0px
  margin-top: 8px
  min-width: 302px
  position: relative

.share-project-7.share-project-8
  margin-top: unset

