.breadcrumb-button-base-4 {
  display: flex;
  height: 20px;
  margin-left: 12.0px;
  width: 387px;
}

.text-16 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 387px;
}

.breadcrumb-button-base-4.breadcrumb-button-base-7,
.breadcrumb-button-base-4.breadcrumb-button-base-7 .text-16,
.breadcrumb-button-base-4.breadcrumb-button-base-9,
.breadcrumb-button-base-4.breadcrumb-button-base-9 .text-16,
.breadcrumb-button-base-4.breadcrumb-button-base-10,
.breadcrumb-button-base-4.breadcrumb-button-base-10 .text-16 {
  width: 77px;
}

