.textarea-input-field-base-4-1
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 162px
  position: relative
  width: 346px

.label-35
  height: 47px
  margin-left: 2.5px
  margin-top: 3px
  width: 310px

.textarea-input-field-base-4-1.textarea-input-field-base-6
  align-items: flex-end

.textarea-input-field-base-4-1.textarea-input-field-base-6 .label-35,
.textarea-input-field-base-4-1.textarea-input-field-base-7 .label-35
  height: 14px
  margin-left: unset
  margin-right: -114.15px
  margin-top: 2px
  width: 361px

.textarea-input-field-base-4-1.textarea-input-field-base-4 .label-35,
.textarea-input-field-base-4-1.textarea-input-field-base-5 .label-35
  height: 14px
  margin-left: 1px
  margin-top: 2px
  width: 301px

.textarea-input-field-base-4-1.textarea-input-field-base-7
  align-items: flex-end
  display: flex
  flex-direction: column
  min-height: 162px
  position: relative
  width: 346px

