@import '../../variables'

.nav-item-base-3
  align-items: center
  background-color: $magnolia-2
  border-radius: 6px
  display: flex
  height: 40px
  margin-left: 16px
  overflow: hidden
  padding: 0 12px
  width: 100px

.text-73
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  min-width: 76px
  white-space: nowrap

.nav-item-base-3.nav-item-base-4
  margin-left: unset
  width: 108px

.nav-item-base-3.nav-item-base-4 .text-73
  min-width: 84px

