.button-29 {
  display: flex;
  height: 20px;
  margin-left: 70px;
  position: relative;
  width: 113px;
}

.button-29.button-30 {
  margin-left: 4px;
  width: 51px;
}

.button-29.button-31 {
  margin-left: 4px;
  width: 101px;
}

