.button-base-23 {
  display: flex;
  flex: 1;
  width: 61px;
}

.arrow-left {
  height: 20px;
  width: 20px;
}

.text-106 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  white-space: nowrap;
  width: 33px;
}

.button-base-23.button-base-24,
.button-base-23.button-base-25,
.button-base-23.button-base-26,
.button-base-23.button-base-27 {
  width: 118px;
}

.button-base-23.button-base-24 .text-106,
.button-base-23.button-base-25 .text-106,
.button-base-23.button-base-26 .text-106,
.button-base-23.button-base-27 .text-106 {
  width: 90px;
}

