@import '../../variables'

.public-web-page-hr-view-1
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  height: 2920px
  overflow: hidden
  position: relative
  width: 1728px

.container
  align-items: center
  align-self: center
  display: flex
  flex-direction: column
  margin-top: 30px
  min-height: 51px
  width: 1361px

.heading
  align-items: flex-start
  display: flex
  height: 40px
  min-width: 1297px
  position: relative

.text-9
  letter-spacing: 0
  line-height: 32px
  min-height: 32px
  min-width: 663px
  white-space: nowrap

.divider-1
  background-color: $gallery
  height: 1px
  margin-top: 10px
  width: 1297px

.flex-row
  align-items: flex-start
  display: flex
  height: 2634px
  margin-left: -123.01px
  margin-top: 7px
  min-width: 1933px
  position: relative

.group-75
  height: 367px
  width: 135px

.frame-14069
  align-items: flex-start
  align-self: flex-end
  display: flex
  flex-direction: column
  margin-left: 204px
  min-height: 2611px
  position: relative
  width: 905px

.applicant-details
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 40px
  min-height: 918px
  position: relative
  width: 904px

.frame-3376
  align-items: flex-start
  display: flex
  height: 70px
  margin-top: 30px
  min-width: 904px
  position: relative

.frame-33765
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-left: 24px
  min-height: 70px
  position: relative
  width: 136px

.label
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.graphics
  height: 222px
  margin-left: 231px
  margin-top: 85.94px
  width: 58px

