@import '../../variables'

.column-25,
.column-26
  display: flex
  flex-direction: column
  height: 556px
  position: relative
  width: 149px

.divider-46,
.divider-47
  background-color: $gallery
  height: 1px

