.breadcrumb-button-base-4
  align-items: flex-start
  display: flex
  height: 20px
  margin-left: 12px
  min-width: 387px

.text-16
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.breadcrumb-button-base-4.breadcrumb-button-base-7,
.breadcrumb-button-base-4.breadcrumb-button-base-8
  min-width: 77px

