.input-with-label-42,
.input-with-label-43 {
  display: flex;
  flex-direction: column;
  height: 162px;
  position: relative;
  width: 904px;
}

.label-36,
.label-38 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 457px;
}

