.input-field-base-18-1
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  position: relative
  width: 434px

.label-51
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.input-field-base-18-1.input-field-base-18 .label-51
  text-shadow: 0px 0px 0px #f4ebff , 0px 1px 2px #1018280d

