.breadcrumb-button-base
  align-items: flex-start
  display: flex
  height: 20px
  min-width: 66px

.text-11
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.breadcrumb-button-base.breadcrumb-button-base-1
  margin-left: 12px
  min-width: 77px

.breadcrumb-button-base.breadcrumb-button-base-3,
.breadcrumb-button-base.breadcrumb-button-base-5
  margin-left: 12px
  min-width: 387px

.breadcrumb-button-base.breadcrumb-button-base-6
  margin-left: 256px
  margin-top: 24px
  min-width: 387px

