@import '../../variables'

.button-base-13
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 40px
  overflow: hidden
  padding: 0 16px
  width: 173px

.plus
  height: 20px
  width: 20px

.text-75
  letter-spacing: 0
  line-height: 20px
  margin-left: 8px
  min-height: 20px
  min-width: 113px
  white-space: nowrap

.button-base-13.button-base-14,
.button-base-13.button-base-16,
.button-base-13.button-base-18
  width: 201px

.button-base-13.button-base-14 .text-75,
.button-base-13.button-base-16 .text-75,
.button-base-13.button-base-18 .text-75
  min-width: 141px

.button-base-13.button-base-15,
.button-base-13.button-base-17
  width: 168px

.button-base-13.button-base-15 .text-75,
.button-base-13.button-base-17 .text-75
  min-width: 108px

