.table-header
  align-items: flex-start
  display: flex
  height: 18px
  min-width: 57px

.text-124
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  white-space: nowrap

.table-header.table-header-1
  min-width: 62px

.table-header.table-header-2
  min-width: 104px

.table-header.table-header-3,
.table-header.table-header-10,
.table-header.table-header-18
  min-width: 47px

.table-header.table-header-4,
.table-header.table-header-13,
.table-header.table-header-21
  min-width: 55px

.table-header.table-header-5,
.table-header.table-header-7,
.table-header.table-header-15
  min-width: 85px

.table-header.table-header-8,
.table-header.table-header-16
  min-width: 87px

.table-header.table-header-9,
.table-header.table-header-17
  min-width: 120px

.table-header.table-header-11,
.table-header.table-header-19
  min-width: 118px

.table-header.table-header-12,
.table-header.table-header-20
  min-width: 38px

