.forgot-password-4 {
  background-color: var(--white);
  display: flex;
  height: 100vh;
  min-height: 960px;
  min-width: 1728px;
  width: 100%;
}

.content-99 {
  display: flex;
  flex-direction: column;
  height: 306px;
  margin-left: 684px;
  margin-top: 96px;
  position: relative;
  width: 360px;
}

.header-6 {
  display: flex;
  flex-direction: column;
  height: 178px;
  position: relative;
}

