@import '../../variables'

.badge-base-12,
.badge-base-13
  background-color: $narvik
  border-radius: 16px
  display: flex
  flex: 1
  width: 47px

.text-178,
.text-179
  height: 18px
  letter-spacing: 0
  line-height: 18px
  margin-left: 8px
  margin-top: 2px
  text-align: center
  white-space: nowrap
  width: 31px

