@import '../../variables'

.dashboard-1
  background-color: $white
  display: flex
  flex-direction: column
  height: 100vh
  min-height: 1026px
  min-width: 1728px
  position: relative
  width: 100%

.main-5
  background-color: $white
  display: flex
  height: 953px
  width: 1728px

.section-46
  display: flex
  margin-top: 48px
  width: 1728px

.container-25
  display: flex
  margin-left: 224px
  width: 1280px

.sections-3
  display: flex
  flex-direction: column
  height: 809px
  margin-left: 32px
  position: relative
  width: 1216px

.section-47
  display: flex
  margin-top: 24px
  width: 1216px

.container-26
  display: flex
  margin-left: -32px
  width: 1280px

.table-2
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 637px
  margin-left: 32px
  overflow: hidden
  position: relative
  width: 1216px

.filters-bar-2
  background-color: $white
  height: 1px

.content-113
  background-color: $white
  display: flex
  position: relative
  width: 1216px

.column-15
  display: flex
  flex-direction: column
  height: 556px
  position: relative
  width: 123px

.divider-37
  background-color: $gallery
  height: 1px

.column-16
  display: flex
  flex-direction: column
  height: 556px
  position: relative
  width: 118px

