@import '../../variables'

.table-header-cell
  background-color: $white
  display: flex
  height: 44px
  position: relative
  width: 381px

.table-header-cell.table-header-cell-1
  width: 97px

.table-header-cell.table-header-cell-2
  width: 137px

.table-header-cell.table-header-cell-3
  width: 165px

.table-header-cell.table-header-cell-4
  width: 131px

.table-header-cell.table-header-cell-5
  width: 152px

.table-header-cell.table-header-cell-6,
.table-header-cell.table-header-cell-14,
.table-header-cell.table-header-cell-22
  width: 263px

.table-header-cell.table-header-cell-7,
.table-header-cell.table-header-cell-15,
.table-header-cell.table-header-cell-23
  width: 117px

.table-header-cell.table-header-cell-8,
.table-header-cell.table-header-cell-16,
.table-header-cell.table-header-cell-24
  width: 123px

.table-header-cell.table-header-cell-9,
.table-header-cell.table-header-cell-17,
.table-header-cell.table-header-cell-25
  width: 161px

.table-header-cell.table-header-cell-10,
.table-header-cell.table-header-cell-18,
.table-header-cell.table-header-cell-26
  width: 177px

.table-header-cell.table-header-cell-11,
.table-header-cell.table-header-cell-19,
.table-header-cell.table-header-cell-27
  width: 149px

.table-header-cell.table-header-cell-12,
.table-header-cell.table-header-cell-20,
.table-header-cell.table-header-cell-28
  width: 118px

.table-header-cell.table-header-cell-13,
.table-header-cell.table-header-cell-21,
.table-header-cell.table-header-cell-29
  width: 108px

