@import '../../variables'

.input-dropdown-base-9
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  width: 434px

.label-10
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.input-5
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  min-width: 434px
  padding: 0 14px

.text-36
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  min-width: 124px
  white-space: nowrap

.chevron-down
  height: 20px
  margin-left: 262px
  width: 20px

.input-dropdown-base-9.input-dropdown-base .text-36,
.input-dropdown-base-9.input-dropdown-base-4-2 .text-36,
.input-dropdown-base-9.input-dropdown-base-1-2 .text-36,
.input-dropdown-base-9.input-dropdown-base-7 .text-36,
.input-dropdown-base-9.input-dropdown-base-5-2 .text-36,
.input-dropdown-base-9.input-dropdown-base-2-2 .text-36,
.input-dropdown-base-9.input-dropdown-base-3 .text-36
  min-width: 169px

.input-dropdown-base-9.input-dropdown-base .chevron-down,
.input-dropdown-base-9.input-dropdown-base-7 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-3 .chevron-down
  margin-left: 217px

.input-dropdown-base-9.input-dropdown-base-6,
.input-dropdown-base-9.input-dropdown-base-8
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  width: 284px

.input-dropdown-base-9.input-dropdown-base-6 .input-5,
.input-dropdown-base-9.input-dropdown-base-8 .input-5
  min-width: 284px

.input-dropdown-base-9.input-dropdown-base-6 .text-36,
.input-dropdown-base-9.input-dropdown-base-4 .text-36,
.input-dropdown-base-9.input-dropdown-base-1 .text-36,
.input-dropdown-base-9.input-dropdown-base-5 .text-36,
.input-dropdown-base-9.input-dropdown-base-2 .text-36,
.input-dropdown-base-9.input-dropdown-base-8 .text-36
  min-width: 227px

.input-dropdown-base-9.input-dropdown-base-6 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-8 .chevron-down
  margin-left: 9px

.input-dropdown-base-9.input-dropdown-base-4,
.input-dropdown-base-9.input-dropdown-base-4-1,
.input-dropdown-base-9.input-dropdown-base-4-2,
.input-dropdown-base-9.input-dropdown-base-5,
.input-dropdown-base-9.input-dropdown-base-5-1,
.input-dropdown-base-9.input-dropdown-base-5-2
  width: 346px

.input-dropdown-base-9.input-dropdown-base-4-1 .input-5,
.input-dropdown-base-9.input-dropdown-base-5-1 .input-5,
.input-dropdown-base-9.input-dropdown-base-4-2 .input-5,
.input-dropdown-base-9.input-dropdown-base-4 .input-5,
.input-dropdown-base-9.input-dropdown-base-5-2 .input-5,
.input-dropdown-base-9.input-dropdown-base-5 .input-5
  min-width: 346px

.input-dropdown-base-9.input-dropdown-base-4-1 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-5-1 .chevron-down
  margin-left: 174px

.input-dropdown-base-9.input-dropdown-base-4-2 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-5-2 .chevron-down
  margin-left: 129px

.input-dropdown-base-9.input-dropdown-base-4 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-5 .chevron-down
  margin-left: 71px

.input-dropdown-base-9.input-dropdown-base-1-1 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-2-1 .chevron-down
  height: 1px
  margin-left: 272px
  margin-top: 0.5px
  width: 1px

.input-dropdown-base-9.input-dropdown-base-1-2 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-2-2 .chevron-down
  height: 1px
  margin-left: 227px
  margin-top: 0.5px
  width: 1px

.input-dropdown-base-9.input-dropdown-base-1 .chevron-down,
.input-dropdown-base-9.input-dropdown-base-2 .chevron-down
  height: 1px
  margin-left: 169px
  margin-top: 0.5px
  width: 1px

