@import '../../variables'

.input-dropdown-base-12,
.input-dropdown-base-12.input-dropdown-base-10,
.input-dropdown-base-12.input-dropdown-base-10-2,
.input-dropdown-base-12.input-dropdown-base-11,
.input-dropdown-base-12.input-dropdown-base-11-2
  display: flex
  flex: 1

.input-with-label-18
  display: flex
  flex-direction: column
  height: 70px
  width: 284px

.label-17
  height: 20px
  letter-spacing: 0
  line-height: 20px
  white-space: nowrap
  width: 203px

.input-18
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  width: 284px

.content-38
  display: flex
  height: 24px
  margin-left: 14px
  margin-top: 10px
  position: relative
  width: 228px

.chevron-down-7
  height: 20px
  margin-left: 8px
  margin-top: 12px
  width: 20px

.input-dropdown-base-12.input-dropdown-base-10-1 .input-with-label-18,
.input-dropdown-base-12.input-dropdown-base-10-1 .input-18,
.input-dropdown-base-12.input-dropdown-base-11-1 .input-with-label-18,
.input-dropdown-base-12.input-dropdown-base-11-1 .input-18,
.input-dropdown-base-12.input-dropdown-base-10-2 .input-with-label-18,
.input-dropdown-base-12.input-dropdown-base-10-2 .input-18,
.input-dropdown-base-12.input-dropdown-base-10 .input-with-label-18,
.input-dropdown-base-12.input-dropdown-base-10 .input-18,
.input-dropdown-base-12.input-dropdown-base-11-2 .input-with-label-18,
.input-dropdown-base-12.input-dropdown-base-11-2 .input-18,
.input-dropdown-base-12.input-dropdown-base-11 .input-with-label-18,
.input-dropdown-base-12.input-dropdown-base-11 .input-18
  width: 346px

.input-dropdown-base-12.input-dropdown-base-10-1 .label-17,
.input-dropdown-base-12.input-dropdown-base-11-1 .label-17
  width: 55px

.input-dropdown-base-12.input-dropdown-base-10-1 .content-38,
.input-dropdown-base-12.input-dropdown-base-11-1 .content-38,
.input-dropdown-base-12.input-dropdown-base-10-2 .content-38,
.input-dropdown-base-12.input-dropdown-base-10 .content-38,
.input-dropdown-base-12.input-dropdown-base-11-2 .content-38,
.input-dropdown-base-12.input-dropdown-base-11 .content-38
  width: 290px

.input-dropdown-base-12.input-dropdown-base-10-2 .label-17,
.input-dropdown-base-12.input-dropdown-base-11-2 .label-17
  width: 183px

