@import '../../variables'

.button-base-6,
.button-base-7,
.button-base-9,
.button-base-11
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 40px
  overflow: hidden
  padding: 0 16px
  width: 136px

.calendar,
.calendar-1,
.calendar-2,
.calendar-3
  height: 20px
  width: 20px

.text-44,
.text-59,
.text-60,
.text-61
  letter-spacing: 0
  line-height: 20px
  margin-left: 8px
  min-height: 20px
  min-width: 76px
  white-space: nowrap

