.section-header-7 {
  display: flex;
  height: 29px;
  margin-left: 16px;
  width: 343px;
}

.text-109 {
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  width: 343px;
}

.section-header-7.section-header-8,
.section-header-7.section-header-10 {
  margin-left: unset;
  margin-top: 30px;
  width: 347px;
}

.section-header-7.section-header-8 .text-109,
.section-header-7.section-header-10 .text-109 {
  width: 347px;
}

