.textarea-input-field-base-6-1
  display: flex
  width: 346px

.input-with-label-32
  display: flex
  flex-direction: column
  height: 162px
  position: relative
  width: 346px

.label-34
  height: 14.29px
  margin-left: 99.5px
  margin-top: 2.8px
  width: 360.65px

.textarea-input-field-base-6-1.textarea-input-field-base-6 .label-34
  margin-left: 1px
  width: 301.24px

.textarea-input-field-base-6-1.textarea-input-field-base-7-1 .label-34
  width: 360.65px

.textarea-input-field-base-6-1.textarea-input-field-base-7 .label-34
  margin-left: 1px
  width: 301.24px

