@import '../../variables'

.footer,
.footer-1,
.footer-2
  align-items: flex-end
  display: flex
  flex-direction: column
  margin-top: 40px
  min-height: 57px
  position: relative
  width: 905px

.divider-9,
.divider-10,
.divider-11
  background-color: $gallery
  height: 1px
  width: 905px

