@import '../../variables'

.preference
  align-items: center
  background-color: $white-lilac
  border-radius: 8px
  display: flex
  height: 90px
  overflow: hidden
  padding: 0 16px
  position: relative
  width: 360px

.preference.preference-1,
.preference.preference-3
  padding: 0 8px
  width: 344px

