@import '../../variables'

.badge-base
  align-items: center
  background-color: $magnolia
  border-radius: 16px
  display: flex
  height: 22px
  min-width: 23px
  padding: 0 8px

.text-123
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  min-width: 7px
  text-align: center
  white-space: nowrap

.badge-base.badge-base-1
  min-width: 24px

.badge-base.badge-base-1 .text-123
  min-width: 8px

.badge-base.badge-base-3
  min-width: 47px

.badge-base.badge-base-3 .text-123
  min-width: 31px

