.button-base-33
  align-items: flex-start
  display: flex
  height: 20px
  min-width: 113px

.text-111
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.button-base-33.button-base-34
  min-width: 51px

.button-base-33.button-base-35
  min-width: 101px

