@import '../../variables'

.featured-icon-3
  align-items: flex-start
  background-color: #d0fadf
  border: 10px solid $narvik
  border-radius: 28px
  display: flex
  height: 66px
  margin-top: -5px
  min-width: 66px
  padding: 14px

.check-circle
  height: 28px
  width: 28px

