@import '../../variables'

.select-12
  align-items: center
  background-color: $white
  border-radius: 8px
  display: flex
  height: 37px
  min-width: 79px
  padding: 0 16px

.amenities
  letter-spacing: 0
  line-height: 21px
  min-height: 21px
  min-width: 47px
  opacity: 0.7
  text-align: center
  white-space: nowrap

.select-12.select-1,
.select-12.select-4,
.select-12.select-7,
.select-12.select-10
  margin-left: 16px

.select-12.select-2,
.select-12.select-2-1,
.select-12.select-2-2,
.select-12.select-5,
.select-12.select-5-1,
.select-12.select-5-2,
.select-12.select-8,
.select-12.select-8-1,
.select-12.select-8-2,
.select-12.select-11,
.select-12.select-11-1,
.select-12.select-11-2
  margin-left: 16px
  min-width: 141px

.select-12.select-2-1 .amenities,
.select-12.select-5-1 .amenities,
.select-12.select-8-1 .amenities,
.select-12.select-11-1 .amenities,
.select-12.select-2-2 .amenities,
.select-12.select-2 .amenities,
.select-12.select-5-2 .amenities,
.select-12.select-5 .amenities,
.select-12.select-8-2 .amenities,
.select-12.select-8 .amenities,
.select-12.select-11-2 .amenities,
.select-12.select-11 .amenities
  min-width: 109px

