@import '../../variables'

.frame-3
  align-items: flex-start
  align-self: flex-end
  background-color: $royal-blue
  border-radius: 16px
  display: flex
  height: 32px
  margin-bottom: 0.13px
  margin-left: -1px
  overflow: hidden
  padding: 3.6px 6px
  width: 32px

.overlap-group
  height: 22px
  position: relative
  width: 20px

.vector-7
  height: 5px
  left: 2px
  position: absolute
  top: 17px
  width: 14px

.x5d7f96dfdf28141cd047f1675418350c-1
  height: 20px
  left: 0
  position: absolute
  top: 0
  width: 20px

.frame-3.frame-3-2,
.frame-3.frame-3-3
  padding: 3.1px 6px

.frame-3.frame-3-2 .overlap-group,
.frame-3.frame-3-3 .overlap-group,
.frame-3.frame-3-5 .overlap-group
  height: 23px

.frame-3.frame-3-2 .vector-7,
.frame-3.frame-3-3 .vector-7,
.frame-3.frame-3-4 .vector-7,
.frame-3.frame-3-5 .vector-7
  top: 18px

.frame-3.frame-3-4
  padding: 3.5px 5.5px

.frame-3.frame-3-4 .overlap-group
  margin-left: 1px

.frame-3.frame-3-5
  margin-left: unset
  padding: 3.1px 6px

