.content-14
  align-items: flex-start
  display: flex
  min-width: 147px
  position: relative

.charming-and-comfort-10
  height: 33px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 8px
  white-space: nowrap

