.button-02
  align-items: flex-start
  border-radius: 8px
  display: flex
  height: 40px
  margin-left: 16px
  min-width: 173px
  position: relative

.button-02.button-02-1
  align-self: flex-end
  min-width: 201px

.button-02.button-01,
.button-02.button-01-1
  min-width: 168px

.button-02.button-02-2,
.button-02.button-02-3
  margin-left: unset
  min-width: 201px

