.scroll-floating-title-sticky-module-son-the-side {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 943px;
  overflow: hidden;
  width: 1728px;
}

.overlap-group2 {
  height: 2615px;
  margin-left: -123px;
  margin-top: -229px;
  position: relative;
  width: 1851px;
}

.overlap-group1 {
  height: 2615px;
  left: 123px;
  position: absolute;
  top: 0;
  width: 1728px;
}

.header-navigation-5 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 74px;
  left: 0;
  position: absolute;
  top: 135px;
  width: 1728px;
}

.container-11 {
  display: flex;
  height: 72px;
  justify-content: space-between;
  margin-left: 183.5px;
  position: relative;
  width: 1361px;
}

.content-74 {
  display: flex;
  margin-left: 32px;
  margin-top: 19.4px;
  width: 147px;
}

.company-logo-11 {
  align-items: flex-start;
  display: flex;
  height: 33.13px;
  min-width: 147px;
}

.frame-3-2 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--royal-blue);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 32px;
  margin-bottom: 0.13px;
  margin-left: -1px;
  overflow: hidden;
  padding: 7.2px 15.2px;
  width: 32px;
}

.x5d7f96dfdf28141cd047f1675418350c-1-12 {
  height: 1px;
  margin-right: 0;
  margin-top: 6px;
  width: 1px;
}

.vector-7-12 {
  height: 1px;
  margin-top: 9px;
  width: 1px;
}

.charming-and-comfort-20 {
  height: 33px;
  letter-spacing: 0;
  line-height: 33.1px;
  margin-left: 8px;
  margin-top: -0.44px;
  white-space: nowrap;
  width: 55px;
}

.charming-and-comfort-21 {
  align-self: center;
  height: 17px;
  letter-spacing: 0;
  line-height: 33.1px;
  margin-left: 5px;
  margin-top: 5.0px;
  white-space: nowrap;
  width: 32px;
}

.divider-20 {
  height: 1px;
  margin-left: 863.5px;
  width: 1px;
}

.container-12 {
  height: 1px;
  left: 224px;
  position: absolute;
  top: 303px;
  width: 1280px;
}

.frame-14069-6 {
  display: flex;
  flex-direction: column;
  height: 2615px;
  left: 216px;
  position: absolute;
  top: 0;
  width: 906px;
}

.frame-14015-3 {
  display: flex;
  flex-direction: column;
  height: 661px;
  position: relative;
  width: 904px;
}

.section-39 {
  height: 1px;
  margin-left: 451.5px;
  margin-top: 51.5px;
  width: 1px;
}

.footer-5 {
  display: flex;
  flex-direction: column;
  height: 61px;
  margin-top: 40px;
  width: 905px;
}

.divider-21 {
  background-color: var(--gallery);
  height: 1px;
}

.content-75 {
  display: flex;
  margin-top: 16px;
  width: 905px;
}

.actions-8 {
  display: flex;
  height: 44px;
  position: relative;
  width: 905px;
}

.container-13 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  height: 91px;
  left: 184px;
  position: absolute;
  top: 229px;
  width: 1361px;
}

.content-76 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 91px;
  width: 1297px;
}

.heading-10 {
  display: flex;
  height: 40px;
  margin-top: 40px;
  position: relative;
  width: 1297px;
}

.divider-22 {
  background-color: #4e5aa6;
  height: 1px;
  margin-top: 10px;
  width: 1297px;
}

.group-75-1 {
  height: 367px;
  left: 0;
  position: absolute;
  top: 440px;
  width: 135px;
}

.graphics-1 {
  height: 222px;
  margin-left: 24px;
  margin-top: 296.77px;
  width: 58px;
}

