.table-cell-39,
.table-cell-40
  display: flex
  height: 72px
  width: 118px

.frame-33761,
.frame-33761-1
  display: flex
  height: 38px
  margin-top: 17px
  width: 118px

.text-172,
.text-173
  height: 18px
  letter-spacing: 0
  line-height: 18px
  margin-left: 7.5px
  margin-top: 10px
  white-space: nowrap
  width: 77px

.chevron-down-12,
.chevron-down-13
  height: 16px
  margin-left: 10px
  margin-top: 11px
  width: 16px

