.frame-14015,
.frame-14015-1,
.frame-14015-2 {
  display: flex;
  flex-direction: column;
  height: 661px;
  position: relative;
  width: 904px;
}

.section,
.section-1,
.section-2 {
  height: 56px;
  margin-top: 24px;
  width: 904px;
}

