.heading-8
  align-items: flex-start
  display: flex
  height: 40px
  margin-top: 40px
  min-width: 1297px
  position: relative

.text-99
  letter-spacing: 0
  line-height: 32px
  min-height: 32px
  white-space: nowrap
  width: 1164px

.heading-8.heading-10
  margin-top: unset

.heading-8.heading-10 .text-99
  min-width: 663px
  width: unset

