@import '../../variables'

.button-base-41
  align-items: center
  background-color: $royal-blue
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 40px
  overflow: hidden
  padding: 0 16px
  width: 163px

.text-121
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  min-width: 131px
  white-space: nowrap

