@import '../../variables'

.dashboard-4-share
  align-items: flex-start
  background-color: $white
  display: flex
  height: 943px
  min-width: 1728px

.overlap-group1-2
  height: 950px
  margin-top: -4px
  position: relative
  width: 1728px

.header-navigation-10
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  height: 73px
  left: 0
  position: absolute
  top: 4px
  width: 1728px

.container-14
  align-items: center
  display: flex
  height: 72px
  min-width: 1280px
  padding: 0 32px
  position: relative

.content-35
  align-items: center
  display: flex
  min-width: 362px
  position: relative

.navigation
  align-items: flex-start
  display: flex
  height: 40px
  margin-left: 16px
  min-width: 199px
  position: relative

.divider-33
  height: 1px
  width: 1728px

.main-3
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  left: 0
  min-height: 870px
  padding: 48px 0
  position: absolute
  top: 77px
  width: 1728px

.table
  align-items: flex-start
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 636px
  margin-top: 24px
  overflow: hidden
  position: relative
  width: 1216px

.filters-bar
  background-color: $white
  height: 1px
  width: 1216px

.content-36
  align-items: flex-start
  background-color: $white
  display: flex
  height: 555px
  min-width: 1216px

.column
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 381px

.divider-27
  background-color: $gallery
  height: 1px
  width: 381px

.column-1
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 97px

.divider-28
  background-color: $gallery
  height: 1px
  width: 97px

.column-2
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 137px

.divider-29
  background-color: $gallery
  height: 1px
  width: 137px

.column-3
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 165px

.divider-30
  background-color: $gallery
  height: 1px
  width: 165px

.column-4
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 131px

.divider-31
  background-color: $gallery
  height: 1px
  width: 131px

.column-5
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 152px

.divider-32
  background-color: $gallery
  height: 1px
  width: 152px

.column-6
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 555px
  position: relative
  width: 72px

.modal-2
  -webkit-backdrop-filter: blur(16px) brightness(100%)
  align-items: flex-start
  backdrop-filter: blur(16px) brightness(100%)
  background-color: $oxford-blue-2
  display: flex
  height: 950px
  left: 0
  min-width: 1728px
  padding: 272px 589.0px
  position: absolute
  top: 0

.share-project-11
  height: 405px
  width: 548px

