.header-navigation {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 73px;
  width: 1728px;
}

.container-1 {
  display: flex;
  height: 72px;
  justify-content: space-between;
  margin-left: 183px;
  position: relative;
  width: 1362px;
}

.content-4 {
  display: flex;
  margin-left: 32px;
  margin-top: 16px;
  position: relative;
  width: 263px;
}

.navigation {
  display: flex;
  height: 40px;
  margin-left: 16px;
  position: relative;
  width: 100px;
}

.divider-2 {
  height: 1px;
  width: 1728px;
}

.header-navigation.header-navigation-3 {
  left: 0;
  position: absolute;
  top: 0;
}

