@import '../../variables'

.section-29
  display: flex
  flex-direction: column
  height: 2549px
  margin-top: 32px
  width: 375px

.divider-16
  background-color: $mercury
  height: 1px

.container-10
  display: flex
  flex-direction: column
  height: 4659px
  margin-top: 24px
  position: relative

.rich-text
  display: flex
  flex-direction: column
  height: 1711px
  margin-left: 16px
  margin-top: 24px
  width: 343px

.section-30
  height: 104px
  width: 343px

.section-31
  display: flex
  height: 584px
  margin-top: 32px
  position: relative
  width: 343px

.section-27
  display: flex
  flex-direction: column
  height: 1210px
  margin-top: 32px
  position: relative

.heading-6
  height: 24px
  letter-spacing: 0
  line-height: 24px
  white-space: nowrap
  width: 164px

.section-32
  display: flex
  flex-direction: column
  height: 265px
  margin-top: 16px
  position: relative
  width: 343px

.heading-7
  height: 24px
  letter-spacing: 0
  line-height: 24px
  white-space: nowrap
  width: 343px

.section-29.section-33
  height: 2542px

.section-29.section-33 .container-10
  height: 4458px

