.dashboard-4-share {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 943px;
  min-width: 1728px;
}

.overlap-group1-2 {
  height: 950px;
  margin-top: -4px;
  position: relative;
  width: 1728px;
}

.header-navigation-10 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 73px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1728px;
}

.container-20 {
  display: flex;
  height: 72px;
  justify-content: space-between;
  margin-left: 224px;
  position: relative;
  width: 1280px;
}

.content-102 {
  display: flex;
  margin-left: 32px;
  margin-top: 16px;
  position: relative;
  width: 362px;
}

.navigation-6 {
  display: flex;
  height: 40px;
  margin-left: 16px;
  position: relative;
  width: 199px;
}

.divider-30 {
  height: 1px;
  width: 1728px;
}

.main-3 {
  background-color: var(--white);
  display: flex;
  height: 870px;
  left: 0;
  position: absolute;
  top: 77px;
  width: 1728px;
}

.section-42 {
  display: flex;
  margin-top: 48px;
  width: 1728px;
}

.container-21 {
  display: flex;
  margin-left: 224px;
  width: 1280px;
}

.sections-1 {
  display: flex;
  flex-direction: column;
  height: 726px;
  margin-left: 32px;
  position: relative;
  width: 1216px;
}

.section-43 {
  display: flex;
  margin-top: 24px;
  width: 1216px;
}

.container-22 {
  display: flex;
  margin-left: -32px;
  width: 1280px;
}

.table {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a;
  display: flex;
  flex-direction: column;
  height: 636px;
  margin-left: 32px;
  overflow: hidden;
  position: relative;
  width: 1216px;
}

.filters-bar {
  background-color: var(--white);
  height: 1px;
}

.content-103 {
  background-color: var(--white);
  display: flex;
  width: 1216px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 381px;
}

.divider-29 {
  background-color: var(--gallery);
  height: 1px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 97px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 137px;
}

.column-3 {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 165px;
}

.column-4 {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 131px;
}

.column-5 {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 152px;
}

.column-6 {
  display: flex;
  flex-direction: column;
  height: 555px;
  position: relative;
  width: 72px;
}

.modal-2 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--oxford-blue-2);
  display: flex;
  height: 950px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.share-project-11 {
  height: 405.37px;
  margin-left: 589.0px;
  margin-top: 272px;
  width: 548.12px;
}

