@import '../../variables'

.footer-3
  align-items: flex-end
  display: flex
  flex-direction: column
  margin-top: 30px
  min-height: 57px
  position: relative
  width: 347px

.divider-17
  background-color: $gallery
  height: 1px
  width: 347px

.footer-3.footer-4
  margin-top: 24px

