@import '../../variables'

.input-39
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  overflow: hidden
  width: 434px

.content-79
  display: flex
  height: 24px
  margin-left: 14px
  margin-top: 10px
  position: relative
  width: 406px

.input-39.input-40
  box-shadow: 0px 0px 0px #f4ebff , 0px 1px 2px #1018280d

.input-39.input-dropdown-menu-item
  background-color: unset
  border-radius: unset
  box-shadow: unset
  margin-top: unset
  overflow: unset

