.checkbox
  align-items: center
  display: flex
  height: 20px
  min-width: 177px
  position: relative

.text-110
  letter-spacing: 0
  line-height: 20px
  margin-left: 8px
  min-height: 20px
  min-width: 153px
  white-space: nowrap

