@import '../../variables'

.input-with-label-34-1
  display: flex
  flex-direction: column
  height: 70px
  width: 360px

.label-35
  height: 20px
  letter-spacing: 0
  line-height: 20px
  white-space: nowrap
  width: 47px

.input-32
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  overflow: hidden
  width: 360px

.content-70
  display: flex
  height: 24px
  margin-left: 14px
  margin-top: 10px
  position: relative
  width: 332px

.input-with-label-34-1.input-with-label-34-2 .label-35
  width: 44px

.input-with-label-34-1.input-with-label-34 .label-35
  width: 73px

.input-with-label-34-1.input-with-label-35-1 .label-35,
.input-with-label-34-1.input-with-label-37 .label-35
  width: 36px

.input-with-label-34-1.input-with-label-35 .label-35,
.input-with-label-34-1.input-with-label-36-1 .label-35
  width: 66px

.input-with-label-34-1.input-with-label-36 .label-35
  width: 123px

