.button-33 {
  border-radius: 8px;
  display: flex;
  height: 40px;
  margin-left: 16px;
  margin-top: 16px;
  position: relative;
  width: 40px;
}

.button-33.button-37,
.button-33.button-38 {
  margin-left: 34px;
}

