.button-base-32 {
  background-color: var(--mercury);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 121px;
}

.text-120 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 12px;
  white-space: nowrap;
  width: 81px;
}

