.content-41 {
  display: flex;
  height: 72px;
  margin-left: 16px;
  position: relative;
  width: 264px;
}

.content-41.content-42,
.content-41.content-44,
.content-41.content-46,
.content-41.content-48,
.content-41.content-50,
.content-41.content-52 {
  height: 52px;
}

