@import '../../variables'

.input-field-base-7
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  width: 434px

.label-1
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

.input
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  overflow: hidden
  padding: 0 14px
  width: 434px

.text-31
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  white-space: nowrap
  width: 406px

.input-field-base-7.input-4,
.input-field-base-7.input-4-1,
.input-field-base-7.input-4-2,
.input-field-base-7.input-4-1 .input,
.input-field-base-7.input-field-base-5,
.input-field-base-7.input-field-base-5-1,
.input-field-base-7.input-field-base-5-1 .input,
.input-field-base-7.input-field-base-6 .input,
.input-field-base-7.input-7,
.input-field-base-7.input-7-1,
.input-field-base-7.input-7-1 .input,
.input-field-base-7.input-4-2 .input,
.input-field-base-7.input-4 .input,
.input-field-base-7.input-field-base-5 .input,
.input-field-base-7.input-7 .input
  width: 360px

.input-field-base-7.input-4-1 .text-31,
.input-field-base-7.input-field-base-5-1 .text-31,
.input-field-base-7.input-field-base-6 .text-31,
.input-field-base-7.input-7-1 .text-31,
.input-field-base-7.input-4-2 .text-31,
.input-field-base-7.input-4 .text-31,
.input-field-base-7.input-field-base-5 .text-31,
.input-field-base-7.input-7 .text-31
  width: 332px

.input-field-base-7.input-field-base-2 .input
  background-color: $white-lilac

.input-field-base-7.input-field-base-6
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 70px
  width: 360px

