@import '../../variables'

.public-web-page-hr-view-1
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  height: 2920px
  overflow: hidden
  position: relative
  width: 1728px

.container
  align-self: center
  display: flex
  height: 51px
  margin-top: 30px
  width: 1361px

.content-3
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-left: 32px
  min-height: 51px
  width: 1297px

.heading
  display: flex
  height: 40px
  position: relative
  width: 1297px

.text-and-supporting-text-1
  display: flex
  width: 1006px

.text-10
  height: 32px
  letter-spacing: 0
  line-height: 32px
  white-space: nowrap
  width: 663px

.divider-1
  background-color: $gallery
  height: 1px
  margin-top: 10px
  width: 1297px

.flex-row
  align-items: flex-start
  display: flex
  height: 2634px
  margin-left: -123.01px
  margin-top: 7px
  min-width: 1933px
  position: relative

.group-75
  height: 367px
  width: 135px

.frame-14069
  align-self: flex-end
  display: flex
  flex-direction: column
  height: 2611px
  margin-left: 204px
  position: relative
  width: 905px

.applicant-details
  display: flex
  margin-top: 40px
  width: 904px

.frame-33765
  display: flex
  flex-direction: column
  height: 918px
  position: relative
  width: 904px

.frame-3376
  display: flex
  height: 70px
  margin-top: 30px
  position: relative
  width: 904px

.frame-33764
  display: flex
  margin-top: 30px
  position: relative
  width: 904px

.frame-33765-1
  display: flex
  height: 70px
  margin-left: 24px
  position: relative
  width: 136px

.graphics
  height: 222px
  margin-left: 231px
  margin-top: 85.94px
  width: 58px

