.input-with-label-22 {
  display: flex;
  flex-direction: column;
  height: 162px;
  position: relative;
  width: 904px;
}

.label-25 {
  height: 14.29px;
  margin-left: 1px;
  margin-top: 2.8px;
  width: 471.53px;
}

.input-with-label-22.input-with-label-23 .label-25 {
  width: 471.53px;
}

