.table-cell-23-1
  align-items: center
  display: flex
  height: 72px
  min-width: 177px
  padding: 0 24px
  position: relative

.text-143
  letter-spacing: 0
  line-height: 20px
  margin-left: 12px
  min-height: 20px
  min-width: 91px
  white-space: nowrap

.table-cell-23-1.table-cell-23-2 .text-143
  min-width: 64px

.table-cell-23-1.table-cell-23 .text-143
  min-width: 54px

