.dropdown
  align-items: flex-start
  display: flex
  height: 40px
  min-width: 40px
  position: relative

.dropdown.dropdown-1,
.dropdown.dropdown-5,
.dropdown.dropdown-6
  margin-left: 995px

.dropdown.dropdown-2
  margin-left: 913px

.dropdown.dropdown-4
  margin-left: 814px

