.button-base-6,
.button-base-7,
.button-base-9,
.button-base-11 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 136px;
}

.calendar,
.calendar-1,
.calendar-2,
.calendar-3 {
  height: 20px;
  margin-left: 16px;
  margin-top: 10px;
  width: 20px;
}

.text-80,
.text-92,
.text-93,
.text-94 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  margin-top: 10px;
  white-space: nowrap;
  width: 76px;
}

