@import '../../variables'

.dashboard-3-empty
  background-color: $white
  display: flex
  flex-direction: column
  height: 100vh
  min-height: 943px
  min-width: 1728px
  overflow: hidden
  position: relative
  width: 100%

.main-4
  background-color: $white
  display: flex
  height: 909px
  width: 1728px

.section-44
  display: flex
  margin-top: 48px
  width: 1728px

.container-23
  display: flex
  margin-left: 224px
  width: 1280px

.sections-2
  display: flex
  flex-direction: column
  height: 765px
  margin-left: 32px
  position: relative
  width: 1216px

.section-45
  display: flex
  margin-top: 24px
  width: 1216px

.container-24
  display: flex
  margin-left: -32px
  width: 1280px

.table-1
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 637px
  margin-left: 32px
  overflow: hidden
  position: relative
  width: 1216px

.filters-bar-1
  background-color: $white
  height: 1px

.content-106
  align-items: flex-start
  background-color: $white
  display: flex
  min-width: 1216px

.column-7
  display: flex
  flex-direction: column
  height: 45px
  position: relative
  width: 263px

.divider-33
  background-color: $gallery
  height: 1px

.overlap-group1-3
  height: 556px
  position: relative
  width: 727px

.column-8
  display: flex
  flex-direction: column
  height: 45px
  left: 0
  position: absolute
  top: 0
  width: 117px

.column-9
  display: flex
  flex-direction: column
  height: 45px
  left: 117px
  position: absolute
  top: 0
  width: 123px

.column-10
  display: flex
  flex-direction: column
  height: 45px
  left: 240px
  position: absolute
  top: 0
  width: 161px

.column-11
  display: flex
  flex-direction: column
  height: 45px
  left: 401px
  position: absolute
  top: 0
  width: 177px

.overlap-group-19
  height: 556px
  left: 106px
  position: absolute
  top: 0
  width: 621px

.column-12
  display: flex
  flex-direction: column
  height: 556px
  left: 472px
  position: absolute
  top: 0
  width: 149px

.frame-33766
  align-items: center
  display: flex
  flex-direction: column
  left: 0
  min-height: 296px
  position: absolute
  top: 127px
  width: 478px

.a1e5ce627f3fd3fb5e05d6ae03dde4bf-1
  height: 200px
  width: 300px

.text-153
  letter-spacing: 0
  line-height: 28px
  margin-top: 10px
  min-height: 28px
  min-width: 291px
  white-space: nowrap

.text-154
  letter-spacing: 0
  line-height: 24px
  margin-top: 10px
  min-height: 48px
  text-align: center
  width: 478px

.column-13
  display: flex
  flex-direction: column
  height: 45px
  position: relative
  width: 118px

.column-14
  display: flex
  flex-direction: column
  height: 45px
  position: relative
  width: 108px

