@import '../../variables'

.forgot-password-3
  background-color: $white
  display: flex
  height: 100vh
  min-height: 960px
  min-width: 1728px
  width: 100%

.content-100
  display: flex
  flex-direction: column
  height: 516px
  margin-left: 684px
  margin-top: 96px
  position: relative
  width: 360px

.content-101
  border-radius: 12px
  display: flex
  flex-direction: column
  height: 254px
  margin-top: 32px
  position: relative

.form-3
  display: flex
  flex-direction: column
  height: 186px
  position: relative
  width: 360px

