@import '../../variables'

.input-25
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 44px
  margin-top: 6px
  overflow: hidden
  padding: 0 14px
  width: 346px

.text-89
  letter-spacing: 0
  line-height: 24px
  min-height: 24px
  white-space: nowrap
  width: 318px

.input-25.input-29,
.input-25.input-30
  align-items: center
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 102px
  margin-top: 10px
  overflow: hidden
  padding: 0 14px
  width: 346px

.input-25.input-29 .text-89,
.input-25.input-30 .text-89
  min-height: 82px
  white-space: unset

.input-25.input-26,
.input-25.input-26-1,
.input-25.input-28,
.input-25.input-28-1
  height: 136px
  margin-top: 9px

.input-25.input-26-1 .text-89,
.input-25.input-28-1 .text-89,
.input-25.input-26 .text-89,
.input-25.input-28 .text-89
  min-height: 116px
  white-space: unset

