:root { 
  --alice-blue: #f0f9ff;
  --allports: #016aa2;
  --black: #000000;
  --blue-violet: #707abc;
  --buttery-white: #fff9eb;
  --chardon: #fef2f1;
  --cinnabar: #f04437;
  --concrete: #f2f3f6;
  --ebony-clay: #1d2838;
  --fiord: #475466;
  --gallery: #eaecf0;
  --magnolia: #f9f5ff;
  --magnolia-2: #f5f4ff;
  --mercury: #e4e6eb;
  --mirage: #0f1728;
  --mirage-2: #101828;
  --mirage-3: #171721;
  --mischka: #cfd4dc;
  --mona-lisa: #fca19b;
  --narvik: #ebfdf2;
  --oxford-blue: #344053;
  --oxford-blue-2: #34405399;
  --pale-sky: #667084;
  --perfume: #d6bbfb;
  --purple-heart: #6840c6;
  --romance: #fcfcfd;
  --royal-blue: #4640de;
  --royal-blue-2: #4640de1a;
  --salem: #027947;
  --salem-2: #09914f;
  --santas-gray: #98a1b2;
  --santas-gray-2: #98a1b299;
  --thunderbird: #d92c20;
  --thunderbird-2: #b32218;
  --vesuvius: #b54707;
  --white: #ffffff;
  --white-lilac: #f8f9fb;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 30px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-red_hat_display: "Red Hat Display", Helvetica;
}
