.footer,
.footer-1,
.footer-2 {
  display: flex;
  flex-direction: column;
  height: 57px;
  margin-top: 40px;
  width: 905px;
}

.divider-10,
.divider-11,
.divider-12 {
  background-color: var(--gallery);
  height: 1px;
}

.content-36,
.content-37,
.content-40 {
  display: flex;
  margin-top: 16px;
  width: 905px;
}

.actions,
.actions-1,
.actions-2 {
  display: flex;
  height: 40px;
  position: relative;
  width: 905px;
}

