.button
  align-items: flex-start
  border-radius: 8px
  display: flex
  height: 40px
  margin-left: 16px
  min-width: 117px
  position: relative

.button.button-1,
.button.button-3,
.button.button-5,
.button.button-7,
.button.button-9
  margin-left: unset
  margin-top: 16px

.button.button-2
  margin-left: 12px

.button.button-4
  margin-top: 16px

.button.button-8
  margin-left: 517px

