.table-cell-17
  align-items: center
  display: flex
  height: 72px
  justify-content: flex-end
  min-width: 165px
  padding: 0 14px
  position: relative

.text-133
  letter-spacing: 0
  line-height: 20px
  margin-left: 12px
  min-height: 20px
  min-width: 91px
  white-space: nowrap

.table-cell-17.table-cell-18,
.table-cell-17.table-cell-18-1
  justify-content: unset
  padding: 0 24px

.table-cell-17.table-cell-18-1 .text-133
  min-width: 64px

.table-cell-17.table-cell-18 .text-133
  min-width: 54px

