@import '../../variables'

.card-header
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 80px
  width: 1216px

.content-37
  align-items: center
  display: flex
  height: 79px
  min-width: 1216px
  padding: 19px 24px
  position: relative

.text-and-badge
  align-items: center
  display: flex
  height: 28px
  margin-top: 1.0px
  min-width: 951px
  position: relative

.text-122
  letter-spacing: 0
  line-height: 28px
  min-height: 28px
  min-width: 99px
  white-space: nowrap

.divider-34
  background-color: $gallery
  height: 1px
  width: 1216px

