@import '../../variables'

.select-13-1
  align-items: center
  background-color: $white
  border-radius: 8px
  display: flex
  height: 34px
  min-width: 72px
  padding: 0 16px

.amenities-1
  letter-spacing: 0
  line-height: 18px
  min-height: 18px
  min-width: 40px
  opacity: 0.7
  text-align: center
  white-space: nowrap

.select-13-1.select-14,
.select-13-1.select-17
  margin-left: 16px

.select-13-1.select-15,
.select-13-1.select-15-1,
.select-13-1.select-15-2,
.select-13-1.select-18,
.select-13-1.select-18-1,
.select-13-1.select-18-2
  margin-left: 16px
  min-width: 126px

.select-13-1.select-15-1 .amenities-1,
.select-13-1.select-18-1 .amenities-1,
.select-13-1.select-15-2 .amenities-1,
.select-13-1.select-15 .amenities-1,
.select-13-1.select-18-2 .amenities-1,
.select-13-1.select-18 .amenities-1
  min-width: 94px

