.input-dropdown-7 {
  display: flex;
  height: 70px;
  margin-left: 24px;
  position: relative;
  width: 234px;
}

.input-dropdown-7.input-dropdown-8,
.input-dropdown-7.input-dropdown-9 {
  margin-left: 39px;
}

