@import '../../variables'

.featured-icon-3
  background-color: #d0fadf
  border: 10px solid $narvik
  border-radius: 28px
  display: flex
  height: 66px
  margin-left: 147px
  margin-top: -5px
  width: 66px

.check-circle
  height: 28px
  margin-left: 14px
  margin-top: 14px
  width: 28px

