.input-field-base-19-1 {
  display: flex;
  width: 434px;
}

.input-with-label-45 {
  display: flex;
  flex-direction: column;
  height: 70px;
  position: relative;
  width: 434px;
}

.label-49 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 77px;
}

.input-field-base-19-1.input-field-base-19 .label-49 {
  text-shadow: 0px 0px 0px #f4ebff , 0px 1px 2px #1018280d;
}

