.paragraph-8
  height: 272px
  letter-spacing: 0
  line-height: 24px
  width: 904px

.paragraph-8.paragraph,
.paragraph-8.paragraph-2,
.paragraph-8.paragraph-4,
.paragraph-8.paragraph-6
  height: 72px

.paragraph-8.paragraph-1,
.paragraph-8.paragraph-3,
.paragraph-8.paragraph-5,
.paragraph-8.paragraph-7
  height: 120px
  margin-top: 16px

.paragraph-8.paragraph-9,
.paragraph-8.paragraph-17,
.paragraph-8.paragraph-25,
.paragraph-8.paragraph-28
  height: 280px

.paragraph-8.paragraph-10,
.paragraph-8.paragraph-18,
.paragraph-8.paragraph-26,
.paragraph-8.paragraph-29
  height: 184px

.paragraph-8.text-33,
.paragraph-8.text-35,
.paragraph-8.text-41,
.paragraph-8.text-37,
.paragraph-8.text-39
  height: 24px
  white-space: nowrap
  width: 406px

.paragraph-8.text-50,
.paragraph-8.text-53,
.paragraph-8.text-57,
.paragraph-8.text-63,
.paragraph-8.text-67,
.paragraph-8.text-70
  height: 24px
  white-space: nowrap
  width: 124px

.paragraph-8.text-51,
.paragraph-8.text-54,
.paragraph-8.text-58,
.paragraph-8.text-62,
.paragraph-8.text-64,
.paragraph-8.text-68,
.paragraph-8.text-71
  height: 24px
  white-space: nowrap
  width: 169px

.paragraph-8.text-52,
.paragraph-8.text-55,
.paragraph-8.text-59,
.paragraph-8.text-65,
.paragraph-8.text-69,
.paragraph-8.text-72
  height: 24px
  white-space: nowrap
  width: 227px

.paragraph-8.text-34,
.paragraph-8.text-36,
.paragraph-8.text-42,
.paragraph-8.text-38,
.paragraph-8.text-40
  height: 116px
  margin-left: 14px
  margin-top: 10px
  width: 876px

.paragraph-8.supporting-text
  height: 24px
  margin-top: 4px
  white-space: nowrap
  width: 1027px

.paragraph-8.paragraph-11,
.paragraph-8.paragraph-19
  height: 584px
  width: 339px

.paragraph-8.paragraph-12,
.paragraph-8.paragraph-20
  height: 664px
  width: 343px

.paragraph-8.paragraph-13,
.paragraph-8.paragraph-21
  height: 192px
  width: 343px

.paragraph-8.paragraph-14,
.paragraph-8.paragraph-22
  height: 264px
  margin-top: 16px
  width: 343px

.paragraph-8.paragraph-15,
.paragraph-8.paragraph-23
  height: 408px
  width: 343px

.paragraph-8.text-43,
.paragraph-8.text-45
  height: 24px
  white-space: nowrap
  width: 318px

.paragraph-8.text-56,
.paragraph-8.text-66
  height: 82px
  margin-left: 14px
  margin-top: 10px
  width: 318px

.paragraph-8.text-44,
.paragraph-8.text-46
  height: 116px
  margin-left: 14px
  margin-top: 10px
  width: 318px

.paragraph-8.text-47,
.paragraph-8.text-48,
.paragraph-8.text-74,
.paragraph-8.text-49
  height: 24px
  white-space: nowrap
  width: 332px

.paragraph-8.text-60
  height: 24px
  white-space: nowrap
  width: 382px

.paragraph-8.text-61
  height: 108px
  margin-left: 14px
  margin-top: 10px
  width: 876px

.paragraph-8.text-73
  height: 24px
  margin-left: 8px
  white-space: nowrap
  width: 53px

.paragraph-8.supporting-text-1
  height: 24px
  margin-top: 4px
  white-space: nowrap
  width: 1037px

.paragraph-8.supporting-text-2,
.paragraph-8.supporting-text-3,
.paragraph-8.supporting-text-4
  height: 24px
  margin-top: 4px
  white-space: nowrap
  width: 1032px

