.button-14
  display: flex
  height: 20px
  margin-left: 143px
  margin-top: 16px
  position: relative
  width: 114px

.button-14.button-15
  display: flex
  height: 20px
  margin-left: 4px
  position: relative
  width: 41px

