@import '../../variables'

.dashboard-3-empty
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  height: 943px
  overflow: hidden
  position: relative
  width: 1728px

.main-4
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 909px
  padding: 48px 0
  position: relative
  width: 1728px

.table-1
  align-items: flex-start
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  height: 637px
  margin-top: 24px
  overflow: hidden
  position: relative
  width: 1216px

.filters-bar-1
  background-color: $white
  height: 1px
  width: 1216px

.content-38
  align-items: flex-start
  background-color: $white
  display: flex
  min-width: 1216px

.column-7
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 45px
  position: relative
  width: 263px

.divider-36
  background-color: $gallery
  height: 1px
  width: 263px

.overlap-group1-3
  height: 556px
  position: relative
  width: 727px

.column-8
  align-items: flex-start
  display: flex
  flex-direction: column
  left: 0
  min-height: 45px
  position: absolute
  top: 0
  width: 117px

.divider-37
  background-color: $gallery
  height: 1px
  width: 117px

.column-9
  align-items: flex-start
  display: flex
  flex-direction: column
  left: 117px
  min-height: 45px
  position: absolute
  top: 0
  width: 123px

.divider-38
  background-color: $gallery
  height: 1px
  width: 123px

.column-10
  align-items: flex-start
  display: flex
  flex-direction: column
  left: 240px
  min-height: 45px
  position: absolute
  top: 0
  width: 161px

.divider-39
  background-color: $gallery
  height: 1px
  width: 161px

.column-11
  align-items: flex-start
  display: flex
  flex-direction: column
  left: 401px
  min-height: 45px
  position: absolute
  top: 0
  width: 177px

.divider-40
  background-color: $gallery
  height: 1px
  width: 177px

.overlap-group-19
  height: 556px
  left: 106px
  position: absolute
  top: 0
  width: 621px

.column-12
  align-items: flex-start
  display: flex
  flex-direction: column
  left: 472px
  min-height: 556px
  position: absolute
  top: 0
  width: 149px

.divider-41
  background-color: $gallery
  height: 1px
  width: 149px

.frame-33766
  align-items: center
  display: flex
  flex-direction: column
  left: 0
  min-height: 296px
  position: absolute
  top: 127px
  width: 478px

.a1e5ce627f3fd3fb5e05d6ae03dde4bf-1
  height: 200px
  width: 300px

.text-134
  letter-spacing: 0
  line-height: 28px
  margin-top: 10px
  min-height: 28px
  min-width: 291px
  white-space: nowrap

.text-135
  letter-spacing: 0
  line-height: 24px
  margin-top: 10px
  min-height: 48px
  text-align: center
  width: 478px

.column-13
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 45px
  position: relative
  width: 118px

.divider-42
  background-color: $gallery
  height: 1px
  width: 118px

.column-14
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 45px
  position: relative
  width: 108px

.divider-43
  background-color: $gallery
  height: 1px
  width: 108px

