.applicant-details-1,
.applicant-details-2
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 40px
  min-height: 918px
  position: relative
  width: 906px

.input-31,
.input-32
  align-items: flex-start
  display: flex
  height: 70px
  margin-left: 1px
  margin-top: 30px
  min-width: 904px
  position: relative

.input-dropdown-container,
.input-dropdown-container-1
  align-items: flex-start
  display: flex
  height: 70px
  margin-left: 1px
  margin-top: 30px
  min-width: 903px
  position: relative

