@import '../../variables'

.button-base-2
  align-items: center
  background-color: $royal-blue
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280d
  display: flex
  height: 40px
  overflow: hidden
  padding: 0 16px
  width: 117px

.text-21
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  min-width: 85px
  white-space: nowrap

.button-base-2.button-base-3,
.button-base-2.button-base-5,
.button-base-2.button-base-8,
.button-base-2.button-base-10,
.button-base-2.button-base-12
  background-color: $mischka

.button-base-2.button-base-3 .text-21,
.button-base-2.button-base-5 .text-21,
.button-base-2.button-base-8 .text-21,
.button-base-2.button-base-10 .text-21,
.button-base-2.button-base-12 .text-21
  opacity: 0.5

