@import '../../variables'

.forgot-password-1
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 960px
  padding: 96px 0
  position: relative
  width: 1728px

.content-33
  align-items: flex-start
  border-radius: 12px
  display: flex
  flex-direction: column
  margin-top: 32px
  min-height: 138px
  position: relative
  width: 360px

