.button-02
  border-radius: 8px
  display: flex
  height: 40px
  position: relative
  width: 173px

.button-02.button-02-1,
.button-02.button-02-2,
.button-02.button-02-3,
.button-02.button-02-4
  width: 201px

.button-02.button-01-1,
.button-02.button-01-2,
.button-02.button-01-3
  width: 168px

