.text-and-supporting-text-12 {
  display: flex;
  margin-top: 20px;
  width: 343px;
}

.text-107 {
  height: 64px;
  letter-spacing: 0;
  line-height: 32px;
  width: 343px;
}

.text-and-supporting-text-12.text-and-supporting-text-14 {
  margin-top: unset;
}

