.button-base-42,
.button-base-43
  align-items: center
  border-radius: 8px
  display: flex
  height: 40px
  overflow: hidden
  padding: 0 10px
  width: 40px

.eye,
.eye-1,
.eye-2,
.eye-3,
.eye-4,
.eye-5,
.eye-6,
.chevron-right-1
  height: 20px
  width: 20px

