@import '../../variables'

.container-9
  align-items: center
  background-color: $white
  box-shadow: 0px 4px 4px #0000000d
  display: flex
  flex-direction: column
  left: 184px
  min-height: 91px
  position: absolute
  top: 229px
  width: 1361px

.divider-21
  background-color: #4e5aa6
  height: 1px
  margin-top: 10px
  width: 1297px

.container-9.container-10
  background-color: unset
  box-shadow: unset
  left: 307px
  top: 83px

.container-9.container-10 .divider-21
  background-color: $gallery

