.frame-33765-1,
.frame-33765-2
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 24px
  min-height: 70px
  position: relative
  width: 346px

.label-33,
.label-34
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  white-space: nowrap

