.input-dropdown-13,
.input-dropdown-14,
.input-dropdown-15,
.input-dropdown-16 {
  display: flex;
  height: 70px;
  width: 136px;
}

.input-dropdown-base-14,
.input-dropdown-base-15,
.input-dropdown-base-16,
.input-dropdown-base-17 {
  display: flex;
  flex: 1;
}

.input-with-label-16,
.input-with-label-17,
.input-with-label-20,
.input-with-label-21 {
  display: flex;
  flex-direction: column;
  height: 66px;
  position: relative;
  width: 136px;
}

.label-18,
.label-19,
.label-21,
.label-22 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 135px;
}

