.forgot-password-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 960px;
  padding: 96px 0;
  position: relative;
  width: 1728px;
}

