@import '../../variables'

.public-web-page-candidate-view-1
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  height: 4759px
  width: 375px

.header-navigation-6
  align-items: flex-start
  background-color: $white
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  min-height: 64px
  width: 375px

.content-27
  align-items: center
  display: flex
  height: 63px
  justify-content: flex-end
  min-width: 375px
  padding: 0 8px
  position: relative

.content-28
  align-items: center
  display: flex
  height: 40px
  min-width: 303px
  position: relative

.content-29
  align-items: flex-start
  display: flex
  min-width: 218px
  position: relative

.charming-and-comfort-14
  height: 33px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 8px
  margin-top: -0.44px
  white-space: nowrap
  width: 55px

.charming-and-comfort-15
  align-self: center
  height: 17px
  letter-spacing: 0
  line-height: 33.1px
  margin-left: 5px
  margin-top: 5.0px
  white-space: nowrap
  width: 32px

.divider-22
  height: 1px
  width: 375px

.main-2
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 3842px
  position: relative
  width: 375px

.page-header-2
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 140px
  position: relative
  width: 375px

.text-102
  align-self: center
  letter-spacing: 0
  line-height: 32px
  margin-top: 20px
  min-height: 64px
  width: 343px

.section-22
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 32px
  min-height: 1032px
  position: relative
  width: 375px

.frame-33760-3
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 24px
  min-height: 1646px
  position: relative
  width: 347px

.frame-33762-1
  align-items: flex-start
  display: flex
  flex-direction: column
  margin-top: 30px
  min-height: 1367px
  position: relative
  width: 346px

