.section-19 {
  display: flex;
  flex-direction: column;
  height: 217px;
  margin-top: 30px;
  position: relative;
  width: 360px;
}

.heading-1 {
  height: 37px;
  letter-spacing: 0;
  line-height: 24px;
}

.row-2 {
  display: flex;
  height: 37px;
  margin-left: 14.5px;
  margin-top: 16px;
  position: relative;
  width: 331px;
}

.section-19.section-21 {
  left: 1283px;
  margin-top: unset;
  position: absolute;
  top: 214px;
}

.section-19.section-22 {
  margin-top: unset;
}

