.input-field-4
  align-items: flex-start
  display: flex
  height: 70px
  margin-left: 24px
  min-width: 176px
  position: relative

.input-field-4.input-field-6,
.input-field-4.input-field-10
  margin-left: unset
  margin-top: 24px
  min-width: 346px

.input-field-4.input-field-8,
.input-field-4.input-field-16
  margin-left: 36px
  min-width: 161px

