@import '../../variables'

.card-2
  align-items: flex-start
  background-color: $white
  border-radius: 8px
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a
  display: flex
  flex-direction: column
  min-height: 193px
  width: 368px

.content-21
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 140px
  padding: 24px
  width: 368px

.heading-5
  letter-spacing: 0
  line-height: 24px
  min-height: 48px
  width: 276px

.frame-14014
  align-items: center
  display: flex
  height: 20px
  margin-top: 24px
  min-width: 307px

.link
  height: 16px
  width: 16px

.supporting-text-3
  letter-spacing: 0
  line-height: 20px
  margin-left: 5px
  min-height: 20px
  white-space: nowrap
  width: 286px

.action
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 53px
  width: 368px

.divider-13
  background-color: $gallery
  height: 1px
  width: 368px

.content-22
  align-items: center
  display: flex
  height: 52px
  justify-content: flex-end
  min-width: 368px
  padding: 0 24px
  position: relative

.text-76
  letter-spacing: 0
  line-height: 20px
  margin-left: 16px
  min-height: 20px
  min-width: 71px
  white-space: nowrap

.card-2.card-1
  margin-left: 24px

