.progress-bar
  align-items: center
  display: flex
  height: 40px
  min-width: 83px

.progress-bar-1
  align-items: flex-start
  background-color: #eff4ff
  border-radius: 8px
  display: flex
  min-width: 83px

.progress
  background-color: #156fee
  border-radius: 4px
  height: 8px
  width: 55px

