@import '../../variables'

.desktop
  align-items: flex-start
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 950px
  width: 1728px

.header-navigation-3
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  height: 73px
  width: 1728px

.container-4
  align-items: center
  display: flex
  height: 72px
  min-width: 1280px
  padding: 0 32px
  position: relative

.content-12
  align-items: center
  display: flex
  height: 40px
  min-width: 263px
  position: relative

.divider-12
  height: 1px
  width: 1728px

.main
  align-items: center
  background-color: $white
  display: flex
  flex-direction: column
  min-height: 877px
  padding: 48px 0
  position: relative
  width: 1728px

.section-11
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 40px
  min-height: 627px
  position: relative
  width: 1216px

