.text-and-supporting-text-20 {
  display: flex;
  width: 1164px;
}

.text-121 {
  height: 32px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
  width: 1164px;
}

.text-and-supporting-text-20.text-and-supporting-text-22 .text-121 {
  width: 663px;
}

