.inputs-states {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 1942px;
  padding: 81px 0;
  position: relative;
  width: 1925px;
}

.flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 980px;
  margin-right: 8.0px;
  min-width: 1745px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 898px;
  margin-top: 6px;
  min-width: 818px;
}

.label-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  min-height: 488px;
  width: 111px;
}

.label-40 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.label-42 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 60px;
  min-height: 24px;
  white-space: nowrap;
}

.label-43 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 57px;
  min-height: 24px;
  white-space: nowrap;
}

.label-44 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 63px;
  min-height: 24px;
  white-space: nowrap;
}

.label-45 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 72px;
  min-height: 24px;
  white-space: nowrap;
}

.label-46 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 92px;
  min-height: 24px;
  white-space: nowrap;
}

.input-field-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 76px;
  min-height: 534px;
  position: relative;
  width: 434px;
}

.label-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 105px;
  min-height: 823px;
  width: 92px;
}

.label-47 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 190px;
  min-height: 24px;
  white-space: nowrap;
}

.label-41 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 171px;
  min-height: 24px;
  white-space: nowrap;
}

.textarea-input-field-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  min-height: 980px;
  position: relative;
  width: 904px;
}

.textarea-input-field-15 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 38px;
  width: 904px;
}

.textarea-input-field-base-13 {
  display: flex;
  width: 904px;
}

.input-with-label-44 {
  display: flex;
  flex-direction: column;
  height: 162px;
  width: 904px;
}

.label-48 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 201px;
}

.input-38 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  height: 136px;
  margin-top: 6px;
  overflow: hidden;
  padding: 0 6.0px;
  width: 904px;
}

.overlap-group-18 {
  height: 120px;
  margin-left: 8px;
  position: relative;
  width: 884px;
}

.slider {
  background-color: #f0effb;
  border-radius: 200px;
  display: flex;
  height: 4px;
  left: 822px;
  position: absolute;
  top: 58px;
  transform: rotate(90.00deg);
  width: 120px;
}

.rectangle-126 {
  background-color: #a49df5;
  border-radius: 200px;
  height: 4px;
  margin-left: 21.5px;
  margin-top: 0;
  width: 35.82px;
}

.line-1 {
  height: 1px;
  margin-top: 98px;
  width: 1925px;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 118px;
  margin-left: 116px;
  margin-top: 37px;
  min-width: 1131px;
  position: relative;
}

.tooltip {
  align-self: flex-end;
  height: 64px;
  margin-left: 562px;
  width: 135px;
}

.flex-row-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 278px;
  margin-right: 116.0px;
  min-width: 1577px;
  position: relative;
}

.button-26 {
  align-self: flex-end;
  height: 260px;
  margin-left: 55px;
  width: 157px;
}

.preference-2 {
  align-self: center;
  height: 240px;
  margin-bottom: 6.0px;
  margin-left: 38px;
  width: 400px;
}

