.button-27
  align-items: flex-start
  display: flex
  height: 20px
  margin-left: 70px
  min-width: 113px
  position: relative

.button-27.button-28
  margin-left: 4px
  min-width: 51px

.button-27.button-29
  margin-left: 4px
  min-width: 101px

