@import '../../variables'

.dropdown-menu
  background-color: $white
  display: flex
  flex-direction: column
  height: 100vh
  min-height: 105px
  min-width: 240px
  position: relative
  width: 100%

.dropdown-list-header
  display: flex
  height: 64px
  width: 240px

.avatar-label-group
  display: flex
  margin-left: 16px
  margin-top: 12px
  position: relative
  width: 193px

.text-and-supporting-text
  display: flex
  flex-direction: column
  height: 40px
  margin-left: 12px
  width: 141px

.text
  height: 20px
  letter-spacing: 0
  line-height: 20px
  white-space: nowrap

.divider
  background-color: $concrete
  height: 1px
  width: 240px

