@import '../../variables'

.frame-14069-4,
.frame-14069-5
  align-items: flex-start
  display: flex
  flex-direction: column
  min-height: 190px
  position: relative
  width: 344px

.share-project-9,
.share-project-10
  align-items: center
  background-color: $white-lilac
  border-radius: 8px
  display: flex
  height: 90px
  margin-top: 10px
  overflow: hidden
  padding: 0 8px
  position: relative
  width: 344px

.overlap-group-10,
.overlap-group-12
  align-items: flex-start
  border-radius: 10px
  display: flex
  height: 42px
  margin-left: 7px
  min-width: 42px
  padding: 11px

.globe-4,
.globe-5
  height: 18px
  width: 18px

