@import '../../variables'

.featured-icon,
.featured-icon-1,
.featured-icon-2
  align-items: flex-start
  background-color: $royal-blue-2
  border-radius: 28px
  display: flex
  height: 76px
  margin-top: -10px
  min-width: 76px
  padding: 9.0px

.mail,
.key,
.key-1
  height: 28px
  width: 28px

