.button-30
  align-items: flex-start
  border-radius: 8px
  display: flex
  height: 44px
  min-width: 360px
  position: relative

.button-30.button-31,
.button-30.button-33
  margin-top: 32px

.button-30.button-32,
.button-30.button-34
  margin-top: 24px

