.input-field-base-10 {
  display: flex;
  width: 346px;
}

.input-with-label-26 {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 346px;
}

.label-27 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 80px;
}

.input-25 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  margin-top: 6px;
  width: 346px;
}

.add-on-2 {
  height: 44px;
  width: 37px;
}

.text-input-2 {
  height: 44px;
  width: 309px;
}

.input-field-base-10.input-field-base-11,
.input-field-base-10.input-field-base-11 .input-with-label-26,
.input-field-base-10.input-field-base-13,
.input-field-base-10.input-field-base-13 .input-with-label-26 {
  width: 161px;
}

.input-field-base-10.input-field-base-11 .input-25,
.input-field-base-10.input-field-base-13 .input-25 {
  height: 44px;
  width: 161px;
}

.input-field-base-10.input-field-base-11 .add-on-2,
.input-field-base-10.input-field-base-13 .add-on-2 {
  height: 1px;
  margin-left: 18.2px;
  margin-top: 21.8px;
  width: 1px;
}

.input-field-base-10.input-field-base-11 .text-input-2,
.input-field-base-10.input-field-base-13 .text-input-2 {
  height: 1px;
  margin-left: 79.5px;
  margin-top: 21.8px;
  width: 1px;
}

