.table-cell-4-1
  align-items: center
  display: flex
  height: 72px
  min-width: 97px
  padding: 0 24px

.text-130
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  min-width: 45px
  white-space: nowrap

.table-cell-4-1.table-cell-5,
.table-cell-4-1.table-cell-5-1,
.table-cell-4-1.table-cell-5-2,
.table-cell-4-1.table-cell-5-3,
.table-cell-4-1.table-cell-5-4,
.table-cell-4-1.table-cell-5-5
  min-width: 137px

.table-cell-4-1.table-cell-5-1 .text-130
  min-width: 43px

.table-cell-4-1.table-cell-5-2 .text-130,
.table-cell-4-1.table-cell-9-2 .text-130,
.table-cell-4-1.table-cell-5-3 .text-130,
.table-cell-4-1.table-cell-9-3 .text-130
  min-width: 52px

.table-cell-4-1.table-cell-5-4 .text-130,
.table-cell-4-1.table-cell-9-4 .text-130,
.table-cell-4-1.table-cell-5-5 .text-130,
.table-cell-4-1.table-cell-5 .text-130,
.table-cell-4-1.table-cell-9-5 .text-130,
.table-cell-4-1.table-cell-9 .text-130
  min-width: 75px

.table-cell-4-1.table-cell-6,
.table-cell-4-1.table-cell-6-1,
.table-cell-4-1.table-cell-6-2,
.table-cell-4-1.table-cell-6-3,
.table-cell-4-1.table-cell-6-4,
.table-cell-4-1.table-cell-6-5
  min-width: 131px

.table-cell-4-1.table-cell-6-1 .text-130,
.table-cell-4-1.table-cell-6-2 .text-130,
.table-cell-4-1.table-cell-6-3 .text-130,
.table-cell-4-1.table-cell-6-4 .text-130,
.table-cell-4-1.table-cell-6-5 .text-130,
.table-cell-4-1.table-cell-6 .text-130
  min-width: 83px

.table-cell-4-1.table-cell-7,
.table-cell-4-1.table-cell-7-1,
.table-cell-4-1.table-cell-7-2,
.table-cell-4-1.table-cell-7-3,
.table-cell-4-1.table-cell-7-4,
.table-cell-4-1.table-cell-7-5,
.table-cell-4-1.table-cell-7-6
  min-width: 152px

.table-cell-4-1.table-cell-7-1 .text-130,
.table-cell-4-1.table-cell-7-4 .text-130,
.table-cell-4-1.table-cell-7-6 .text-130,
.table-cell-4-1.table-cell-7 .text-130
  min-width: 24px

.table-cell-4-1.table-cell-7-2 .text-130,
.table-cell-4-1.table-cell-7-5 .text-130
  min-width: 19px

.table-cell-4-1.table-cell-7-3 .text-130
  min-width: 13px

.table-cell-4-1.table-cell-8,
.table-cell-4-1.table-cell-8-1,
.table-cell-4-1.table-cell-8-2,
.table-cell-4-1.table-cell-8-3,
.table-cell-4-1.table-cell-8-4,
.table-cell-4-1.table-cell-8-5,
.table-cell-4-1.table-cell-8-6
  min-width: 117px

.table-cell-4-1.table-cell-8-1 .text-130,
.table-cell-4-1.table-cell-8-2 .text-130
  min-width: 50px

.table-cell-4-1.table-cell-8-3 .text-130,
.table-cell-4-1.table-cell-8-4 .text-130,
.table-cell-4-1.table-cell-8-5 .text-130,
.table-cell-4-1.table-cell-8-6 .text-130,
.table-cell-4-1.table-cell-8 .text-130
  min-width: 41px

.table-cell-4-1.table-cell-9,
.table-cell-4-1.table-cell-9-1,
.table-cell-4-1.table-cell-9-2,
.table-cell-4-1.table-cell-9-3,
.table-cell-4-1.table-cell-9-4,
.table-cell-4-1.table-cell-9-5
  min-width: 123px

.table-cell-4-1.table-cell-10,
.table-cell-4-1.table-cell-10-1,
.table-cell-4-1.table-cell-10-2,
.table-cell-4-1.table-cell-10-3,
.table-cell-4-1.table-cell-10-4,
.table-cell-4-1.table-cell-10-5
  min-width: 161px

.table-cell-4-1.table-cell-10-1 .text-130
  min-width: 81px

.table-cell-4-1.table-cell-10-2 .text-130,
.table-cell-4-1.table-cell-10-5 .text-130,
.table-cell-4-1.table-cell-10 .text-130
  min-width: 92px

.table-cell-4-1.table-cell-10-3 .text-130
  min-width: 67px

.table-cell-4-1.table-cell-10-4 .text-130
  min-width: 72px

.table-cell-4-1.table-cell-11,
.table-cell-4-1.table-cell-11-1,
.table-cell-4-1.table-cell-11-2,
.table-cell-4-1.table-cell-11-3,
.table-cell-4-1.table-cell-11-4,
.table-cell-4-1.table-cell-11-5,
.table-cell-4-1.table-cell-11-6
  min-width: 149px

.table-cell-4-1.table-cell-11-1 .text-130,
.table-cell-4-1.table-cell-11-2 .text-130,
.table-cell-4-1.table-cell-11-3 .text-130,
.table-cell-4-1.table-cell-11-4 .text-130,
.table-cell-4-1.table-cell-11-5 .text-130,
.table-cell-4-1.table-cell-11-6 .text-130,
.table-cell-4-1.table-cell-11 .text-130
  min-width: 80px

