.text-78
  height: 24px
  letter-spacing: 0
  line-height: 24px
  white-space: nowrap
  width: 131px

.text-78.text-75
  width: 406px

.text-78.text-81
  width: 382px

.text-78.text-82
  height: unset
  left: 0
  position: absolute
  top: 2px
  white-space: unset
  width: 872px

.text-78.text-83
  height: 116px
  margin-left: 14px
  margin-top: 10px
  white-space: unset
  width: 876px

.text-78.text-76
  width: 72px

.text-78.text-84
  width: 169px

.text-78.text-85
  width: 125px

.text-78.text-86
  width: 79px

.text-78.text-87
  width: 98px

.text-78.text-88
  width: 227px

.text-78.text-89
  width: 143px

.text-78.text-90
  width: 92px

.text-78.text-77
  width: 95px

.text-78.text-91
  width: 108px

