.button-base-21-1 {
  display: flex;
  flex: 1;
  width: 114px;
}

.text-105 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 114px;
}

.button-base-21-1.button-base-22 {
  display: flex;
  flex: 1;
  width: 41px;
}

.button-base-21-1.button-base-22 .text-105 {
  width: 41px;
}

