.table-cell-12
  align-items: center
  display: flex
  height: 72px
  min-width: 97px
  padding: 0 24px

.text-131
  letter-spacing: 0
  line-height: 20px
  min-height: 20px
  min-width: 45px
  white-space: nowrap

