@import '../../variables'

.table-header-cell
  align-items: center
  background-color: $white
  display: flex
  height: 44px
  min-width: 381px
  padding: 0 24px
  position: relative

.table-header-cell.table-header-cell-1
  justify-content: flex-end
  min-width: 97px
  padding: 0 11px

.table-header-cell.table-header-cell-2
  justify-content: flex-end
  min-width: 137px
  padding: 0 9px

.table-header-cell.table-header-cell-3
  min-width: 165px

.table-header-cell.table-header-cell-4
  min-width: 131px

.table-header-cell.table-header-cell-5
  min-width: 152px

.table-header-cell.table-header-cell-6,
.table-header-cell.table-header-cell-14
  min-width: 263px

.table-header-cell.table-header-cell-7,
.table-header-cell.table-header-cell-15
  min-width: 117px
  padding: 0 16px

.table-header-cell.table-header-cell-8,
.table-header-cell.table-header-cell-16
  justify-content: flex-end
  min-width: 123px
  padding: 0 12px

.table-header-cell.table-header-cell-9,
.table-header-cell.table-header-cell-17
  justify-content: flex-end
  min-width: 161px
  padding: 0 17px

.table-header-cell.table-header-cell-10,
.table-header-cell.table-header-cell-18
  min-width: 177px

.table-header-cell.table-header-cell-11,
.table-header-cell.table-header-cell-19
  min-width: 149px
  padding: 0 15.5px

.table-header-cell.table-header-cell-12,
.table-header-cell.table-header-cell-20
  min-width: 118px
  padding: 0 40px

.table-header-cell.table-header-cell-13,
.table-header-cell.table-header-cell-21
  min-width: 108px

