.input-dropdown-12
  display: flex
  height: 70px
  margin-left: 24px
  position: relative
  width: 284px

.input-dropdown-12.input-dropdown-10,
.input-dropdown-12.input-dropdown-11
  margin-left: unset
  margin-top: 24px
  width: 346px

