.badge-base-10,
.badge-base-11 {
  background-color: var(--buttery-white);
  border-radius: 16px;
  display: flex;
  flex: 1;
  width: 106px;
}

.text-175,
.text-177 {
  height: 18px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 8px;
  margin-top: 2px;
  text-align: center;
  white-space: nowrap;
  width: 90px;
}

